@import '../../../colors.scss';

#optionSettingPopup {
  .popup__body {
    padding: 20px;
  }

  .option-wrapper {
    border: 1px solid #dadada;
    padding: 20px;

    .form-group {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }

      label {
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        margin-right: 10px;
      }

      input.form-control,
      .dropdown {
        width: 200px;
      }

      textarea.form-control {
        height: 85px;
        margin-top: 10px;
      }

      .radio-wrapper {
        margin-top: 13px;
        .radio {
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .log {
          margin-left: 24px;
          margin-bottom: 15px;

          label {
            margin-right: 7px;
          }
          input.form-control {
            width: 100px;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
