@import '../../../colors.scss';

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 28px;
  line-height: 1;
  z-index: 4;

  &-toggle {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $white-color;
    text-align: left;
    padding: 0 9px;
    cursor: pointer;

    width: 100%;
    height: 100%;
    background-color: $dropdown-bg;
    border: 1px solid $border-dark-color;
    background-image: url('/images/common/ic-top-arrow-down.png');
    background-repeat: no-repeat;
    background-position: center right 10px;
    outline: 0;
    box-shadow: none;
  }

  &.open {
    z-index: 10;
    button.dropdown-toggle {
      background-image: url('/images/common/ic-top-arrow-up.png');
      border-color: #93bde9;
    }

    & + .dropdown-dim {
      display: block;
    }
  }

  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    border: 1px solid $border-dark-color;
    border-top: none;
    z-index: 3;

    li {
      background-color: $dropdown-bg;
      border-bottom: 1px solid $border-dark-color;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $white-color;
      text-align: left;
      padding: 4px 9px 5px;
      cursor: pointer;

      &:hover {
        background-color: #2e323d;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &-dim {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;

    display: none;
  }
}
