/* 수정 필요 */

.hwt-container {
  display: inline-block;
  position: relative;
  overflow: hidden !important;
  -webkit-text-size-adjust: none !important;

  width: 100%;
  height: 100px;
  background-color: #383b48;
}

.hwt-backdrop {
  position: absolute !important;
  top: 0 !important;
  right: -99px !important;
  bottom: 0 !important;
  left: 0 !important;
  padding-right: 99px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;

  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
}

.hwt-highlights {
  width: auto !important;
  height: auto !important;
  border-color: transparent !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  color: transparent !important;
  overflow: hidden !important;
}

.hwt-input {
  display: block !important;
  position: relative !important;
  margin: 0;
  padding: 0;
  border-radius: 0;
  /* font: inherit; */
  overflow-x: hidden !important;
  overflow-y: auto !important;

  color: white;
  resize: none;
  outline: 0;
}

.hwt-content {
  border: 1px solid #1b1e29;
  background: none transparent !important;
  font-weight: 300;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
}

.hwt-content mark {
  padding: 0 !important;
  background-color: #93bde9;
}
