@import "../../colors.scss";

.wrapper.engine-env {
  .component-chart {
    flex: 1;
  }

  .component-detail {
    flex: 1;
    display: flex;
    flex-direction: column;

    .component__title {
      margin-bottom: 20px;
    }

    .top {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      .accordion-list {
        flex: 1;
        height: 880px;
        overflow-y: auto;
      }
    }

    .component__asset {
      p {
        font-size: 13px;
        margin: 0 0 10px;
      }

      .dropdown {
        width: 100%;
      }

      textarea.form-control {
        height: 65px;
      }
    }
  }

  .accordion-list {
    padding: 0 20px;
    box-shadow: 0 0 0 1px $border-dark-color inset;

    .list {
      display: flex;
      padding: 20px 0;
      border-bottom: 1px solid $table-dark-border;
      &:last-child {
        border-bottom: 0;
      }
      &__badge {
        width: 20px;
        height: 20px;
        // border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        margin-top: 2px;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        &.check {
          background-image: url("/images/normalizer/icon-check.png");
        }
        &.warn {
          background-image: url("/images/normalizer/icon-warning.png");
        }
      }
      &__info {
        flex: 1;

        &--title {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          cursor: pointer;
          b {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 10px;
            display: block;
          }
          p {
            margin: 0;
            font-size: 12px;
            font-weight: 300;
          }
        }

        &--content-engineinfo {
          visibility: hidden;
          height: 0;
          overflow-y: auto;
          transition: 0.3s;
          border: 1px solid $border-dark-color;
          background-color: $btn-bg;
          padding: 0;
          margin: 0;
        }

        &--content-commandinfo {
          visibility: hidden;
          height: 0;
          overflow-y: auto;
          transition: 0.3s;
          border: 1px solid $border-dark-color;
          background-color: $btn-bg;
          padding: 0;
          margin: 0;
        }

        &--content-userdefinehdr {
          visibility: hidden;
          height: 0;
          overflow-y: auto;
          transition: 0.3s;
          border: 1px solid $border-dark-color;
          background-color: $btn-bg;
          padding: 0;
          margin: 0;
        }
      }

      &.open {
        .list__info {
          &--content-engineinfo {
            visibility: visible;
            height: auto;
            padding: 20px;
            margin-top: 10px;

            &--footer {
              text-align: right;
              padding: 10px;

              button {
                min-width: 100px;
                height: 40px;
                font-size: 15px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                margin-right: 10px;

                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }

          &--content-commandinfo {
            visibility: visible;
            height: 100%;
            padding: 20px;
            margin-top: 10px;
          }

          &--content-userdefinehdr {
            visibility: visible;
            height: 100%;
            padding: 20px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
