@import "../../colors.scss";

.rule-mgmt {
  .tooltipDesc {
    min-width: 50px;
    max-width: 400px;
    min-height: 20px;
    max-height: 350px;
    line-height: 20px;
    pointer-events: auto;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-wrap: hidden;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    white-space: normal;
  }

  .filter-tree__wrap {
    .field__badge {
      position: relative;
      bottom: -1px;
    }
  }
  span.title {
    vertical-align: middle;
  }
  .binder {
    width: 1px;
    height: 20px;
    background-color: #4c4d57;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
  }

  .component {
    flex: 1;

    &-content {
      display: flex;
    }
  }

  .section__title {
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;

    margin-bottom: 20px;
  }

  &__btns {
    margin-bottom: 20px;
    height: 28px;

    & > * {
      display: inline-block;
      vertical-align: middle;

      .btn {
        min-width: 60px;
        padding: 0 10px;
      }

      &:first-child {
        margin-right: 37px;
      }
    }
  }

  .search-bar {
    padding-bottom: 14px;
    margin-bottom: 30px;
    border-bottom: 1px solid #4c4d57;
    position: relative;

    input {
      width: 180px;
      display: inline-block;
    }

    .binder {
      width: 1px;
      height: 20px;
      background-color: #4c4d57;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 17px;
    }

    .btn {
      background-color: transparent;
      border: none;

      &--go {
        background-image: url("/images/filter/icon-go.png");
        margin-right: 5px;
      }

      &--filter {
        background-image: url("/images/filter/icon-remove-filter.png");
      }
    }
  }

  .filter-tree {
    width: 330px;
    // height: 849px;
    flex: none;
    margin-right: 20px;
    position: relative;
    overflow: visible;
    display: flex;

    &.toggle-tree {
      position: absolute;
      z-index: 2;
    }

    &.open {
      width: 931px;

      .btn--filter-toggle {
        background-image: url("/images/common/ic-left-arrow-left.png");
      }

      .filter-tree__left {
        padding-right: 20px;
        margin-right: 20px;
        border-right: 1px solid #4c4d57;

        .search-bar:after {
          display: none;
        }
      }

      .filter-tree__right {
        display: block;
      }
    }

    .btn--filter-toggle {
      width: 25px;
      height: 80px;
      padding: 0px;
      border: solid 1px #1b1e29;

      position: absolute;
      right: -24px;
      top: 0;
      border-left: 0;
      z-index: 1;
      background: url("/images/common/ic-left-arrow-right.png") no-repeat center
        top 28px #2f323c;
    }

    &__left {
      display: flex;
      flex-direction: column;
    }

    &__right {
      display: none;
      width: 560px;

      .component__title {
        margin-bottom: 5px;
      }

      .table-wrapper {
        overflow-y: auto;
        height: calc(100% - 37px);
      }
    }
  }

  .filter-result {
    .component__title {
      padding-bottom: 20px;
      .search-bar {
        margin-bottom: 0;
        border-bottom: 0;
        padding-bottom: 0;

        &:after {
          display: none;
        }
      }

      .btns button {
        // width: 60px;
        padding: 1;
      }
    }

    .table-wrapper {
      height: calc(100% - 48px);
      overflow-y: auto;
    }
  }

  // 필터 정보
  .filter-info {
    .table {
      height: 100%;

      th {
        position: relative;
        .btn--search {
          position: absolute;
          top: 50%;
          right: 6px;
          transform: translateY(-50%);
        }
      }

      &.security-event {
        tr.desc {
          & > * {
            height: 395px;
          }

          textarea {
            height: 100%;
          }
        }
      }

      td {
        padding: 6px 10px;
        vertical-align: middle;
      }

      tr.desc {
        td {
          padding-left: 10px;
          padding-right: 10px;
        }
        & > * {
          height: 297px;
        }
        textarea {
          height: 289px;
        }
      }

      tr.period {
        p {
          padding: 0 10px;
          margin: 0 0 9px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      tr.period,
      tr.icon {
        td {
          padding-left: 10px;
          padding-right: 0;

          .icon-box {
            width: 24px;
            height: 24px;
            display: inline-block;
            vertical-align: middle;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }

          p {
            .react-datepicker-wrapper {
              width: 100px;
            }
          }
        }
      }

      tr.icon {
        th,
        td {
          padding-top: 2px;
          padding-bottom: 2px;
        }
      }

      .radio {
        display: inline-block;
        vertical-align: middle;
        span {
          margin-left: 5px;
        }
      }

      .checkbox span {
        margin-left: 4px;
      }
    }
  }

  // 필터 조건
  .filter-condition {
    .component__title {
      margin-bottom: 12px;

      .btns {
        &--left {
          margin-left: 50px;
        }

        &--center {
          margin-left: 0;
        }
      }
    }

    .component__box {
      overflow-y: auto;
      box-shadow: 0 0 0 1px #484b54 inset;
    }

    .filter-tree__wrap.type-condition {
      padding: 20px;
      height: 100%;

      input {
        width: 180px;
        height: 24px;
      }

      .btn--close {
        background-color: transparent;
      }

      .dropdown {
        margin-right: 5px;
        height: 24px;
        // z-index: unset;
      }

      .checkbox {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }

  .component-filter-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    // height: 990px;
    height: calc(100vh - 110px);

    ul.component-tab li {
      padding-left: 11px;
    }

    .filter-detail {
      display: flex;
      flex-direction: column;

      .history {
        margin-top: 37px;
        margin-right: 20px;
        overflow-y: auto;
      }

      .top {
        display: flex;
        margin-bottom: 20px;
        height: 840px;

        .left {
          width: 380px;
          margin-right: 20px;

          .component__title {
            margin-bottom: 5px;

            .filter-title {
              width: 560px;
            }
          }

          .filter-info {
            .table {
              &.security-event {
                tr.desc {
                  & > * {
                    height: 160px;
                  }
                }
              }
            }
          }

          .change-reason {
            textarea.form-control {
              height: 100px;
            }
          }

          .use-rule {
            margin: 20px 0 27px;
            .table-wrapper {
              height: 270px;
              overflow-y: auto;

              .ReactTable {
                height: 100%;
              }
            }
          }
        }

        .right {
          flex: 1;

          .filter-condition {
            display: flex;
            flex-direction: column;
            height: 100%;
            .component__title {
              margin-bottom: 10px;
            }
            .component__box {
              flex: 1;
            }
          }
        }
      }
      .bottom {
        text-align: right;
        padding-top: 20px;
        border-top: 1px solid $table-dark-border;
      }
    }
  }

  .component-content__right {
    // flex: 1;
    display: flex;
    flex-direction: column;
    flex: none;
    width: 1205px;
    height: 849px;
    margin-left: auto;

    .component__title {
      margin-bottom: 5px;
      height: 22px;
    }

    & > * {
      display: flex;

      & > * {
        display: flex;
        flex-direction: column;

        .component__title + * {
          flex: 1;
        }
      }

      & > *:first-child {
        width: 380px;
        margin-right: 20px;
      }

      & > *:last-child {
        flex: 1;
      }
    }

    .change-history {
      .table tbody tr {
        cursor: pointer;
      }
    }

    .top {
      height: 502px;
      margin-bottom: 20px;
    }

    .bottom {
      flex: 1;

      .table-wrapper {
        overflow-y: auto;
      }
    }

    .btn--dark-close {
      margin-right: 10px;
    }
    .btn--dark-file {
      width: 12px;
      height: 12px;
      padding: 0;
      background-image: url("/images/common/dark_tree_file.png");
      margin-left: 5px;
      border: none;
    }
  }

  .change-reason-form {
    padding: 10px;
    height: auto;
    min-height: 40px;
    word-break: break-all;
    max-height: 400px;
    overflow-y: auto;
  }

  .checkbox__wrap {
    .checkbox {
      display: inline-block;
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* old css */
.rule-mgmt {
  .fake-component {
    display: flex;
    height: 990px;
    position: relative;
    flex: 1;
  }
  .component-rule-list {
    width: 372px;
    padding: 20px 17px 20px 20px;
    margin-right: 32px;
    position: absolute;
    z-index: 13;
    height: 100%;
    overflow: visible;

    display: flex;

    &.open {
      width: 976px;

      .btn--result-toggle {
        background-image: url("/images/common/ic-left-arrow-left.png");
      }

      .rule-list__left {
        padding-right: 20px;
        margin-right: 20px;
        border-right: 1px solid #4c4d57;
      }

      .rule-list__right {
        display: block;
        width: 560px;

        .component__title {
          margin-bottom: 15px;
        }

        .table-wrapper {
          overflow-y: auto;
          height: calc(100% - 37px);
        }
      }
    }

    .btn--result-toggle {
      width: 25px;
      height: 80px;
      padding: 0;
      border: solid 1px #1b1e29;

      position: absolute;
      right: -24px;
      top: 0;
      border-left: 0;
      z-index: 1;
      background: url("/images/common/ic-left-arrow-right.png") no-repeat center
        top 28px #2f323c;
    }

    .btns-wrapper {
      display: flex;
      margin-bottom: 20px;
      height: 28px;

      .btns:last-child {
        margin-left: auto;
      }

      .btn {
        min-width: 60px;
        padding: 0 10px;
      }
    }

    .search-wrapper {
      padding-bottom: 20px;
      border-bottom: 1px solid $table-dark-border;
      margin-bottom: 27px;

      &__input {
        display: flex;
        margin-bottom: 15px;

        input {
          width: 205px;
          margin-right: 5px;
        }
        .btn {
          min-width: 60px;
          padding: 0 10px;
        }
      }

      &__radio {
        line-height: 1;

        & > * {
          display: inline-block;
          vertical-align: middle;
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .rule-list__left {
      display: flex;
      flex-direction: column;
    }

    .rule-list__right {
      display: none;
    }
  }

  .component-right {
    margin-left: auto;
    width: 1212px;
    flex: none;
  }

  .component-top {
    display: flex;
    margin-bottom: 20px;

    &__left {
      width: 460px;
      display: flex;
      flex-direction: column;
      height: 902px;

      margin-right: 20px;

      .component__title {
        margin-bottom: 20px;
      }

      .component-rule-info {
        height: 664px;
        margin-bottom: 20px;

        td.ruleType .dropdown {
          width: 100%;
        }
        .calendar {
          width: 110px;
        }

        td.day {
          overflow: hidden;
          padding-right: 0;

          .radio {
            float: left;
            margin-right: 8px;

            &:last-child {
              margin-right: 0;
            }

            span {
              margin-left: 4px;
            }
          }

          .checkbox {
            span {
              margin-left: 4px;
            }
          }
        }

        td.time {
          .dropdown {
            width: 110px;
          }
        }
      }
    }

    &__right {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 902px;

      .component__title {
        margin-bottom: 22px;
      }

      .component-security-filter {
        flex: 1;
        margin-bottom: 20px;

        .component__title {
          margin-bottom: 14px;
        }

        .security-filter__btns {
          margin-bottom: 10px;
          height: 28px;
        }

        .security-filter__content {
          border: solid 1px #484b54;
          padding: 18px 20px;
          max-height: 544px;
          height: calc(100% - 80px);
          overflow-y: auto;
        }
      }

      .component-drools {
        flex: 1;
        margin-bottom: 20px;
      }

      .component-rule-history {
        height: 218px;

        .table-wrapper {
          height: 133px;
          overflow-y: auto;
        }
      }

      .component-threshold {
        margin-bottom: 20px;

        h5 {
          font-size: 12px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #fffeff;
          margin-top: 0;
          margin-bottom: 10px;
        }

        .form-group {
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
          & > * {
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
          }
          label {
            margin-right: 5px;
          }
          .form-control {
            width: 150px;
          }
          span {
            margin: 0 20px 0 5px;
          }
        }
      }
    }
  }

  .component-bottom {
    text-align: right;
    height: 68px;
  }
}
