@import "../../../colors.scss";

#editFilterGroupPopup {
  width: 390px;

  .popup__body {
    padding: 20px;

    .group-wrapper {
      box-shadow: 0 0 0 1px #dadada inset;
      padding: 20px;
    }

    .form-group {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      label {
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        margin-right: 10px;
        width: 100px;
      }

      input.form-control {
        flex: 1;
        // max-width: 200px;
      }
    }
  }
}

#removeFilterGroupPopup {
  width: 390px;

  .popup__body {
    padding: 40px 27px;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
}

// #selectFilterPopup {
//   width: auto;

//   .popup__body {
//     // height: 540px;
//     display: flex;

//     .filter-tree {
//       height: 500px;
//     }

//     .component-content__right {
//       height: auto;

//       .top {
//         margin-bottom: 0;
//       }

//       .table {
//         tr.period {
//           p {
//             padding: 0 10px;
//             margin: 0 0 9px;

//             &:last-child {
//               margin-bottom: 0;
//             }
//           }
//         }
//       }
//     }
//   }
// }

#filterInfoPopup {
  width: 1244px;

  .popup__body {
    display: flex;

    .component__title {
      margin-bottom: 14px;
    }

    .top {
      height: 500px;
    }

    .table {
      tr.icon {
        span {
          vertical-align: middle;
        }
      }

      tr {
        cursor: default;
      }
    }
  }
}

#selectFieldPopup {
  width: 556px;

  .field-wrapper {
    padding: 20px;
    box-shadow: 0 0 0 1px $border-dark-color inset;

    &__search {
      padding-bottom: 14px;
      border-bottom: 1px solid $table-dark-border;

      .btn {
        background-color: transparent;
        border: none;

        &--go {
          background-image: url("/images/filter/icon-go.png");
          margin-right: 5px;
        }

        &--filter {
          background-image: url("/images/filter/icon-remove-filter.png");
        }
      }
    }

    &__content {
      padding: 14px 0 0;
      height: 437px;
      overflow-y: auto;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;

        li {
          width: 25%;
          float: left;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.popup.popup--select {
  // width: 1010px;
  width: auto;

  .flex-box {
    display: flex;
    align-items: center;

    .filter-tree {
      max-height: 550px;
    }
    .asset-table {
      width: 500px;
    }
    .selected-el {
      display: flex;
      flex-direction: column;
      width: 300px;
      .select-result {
        height: 510px;
      }
      .component__title {
        margin-bottom: 12px;
      }
    }

    .table-wrapper {
      height: 510px;
      .ReactTable {
        height: 100%;
      }
    }

    .search-bar {
      margin-bottom: 0px;
    }

    .select-result {
      list-style: none;
      padding: 8px 12px;
      margin: 0;
      box-shadow: 0 0 0 1px $border-dark-color inset;
      background-color: $btn-bg;
      height: 373px;
      overflow-y: auto;

      li {
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $white-color;

        & > * {
          vertical-align: middle;
        }

        .btn-delete {
          background-image: url("/images/common/ic-close.png");
          border: 0;
          background-color: transparent;
          margin-left: 8px;
        }
      }
    }
  }

  .popup__body {
    .customer-wrapper {
      padding: 20px;
      box-shadow: 0 0 0 1px $border-dark-color inset;
      display: flex;
      align-items: flex-end;

      .search-bar {
        border-bottom: 0;
        margin-bottom: 20px;
        padding-bottom: 0;
        height: 28px;

        &:after {
          display: none;
        }
      }

      .table-wrapper {
        display: flex;
        height: 380px;
        overflow-y: auto;

        .table:first-child {
          margin-right: 5px;
        }
      }

      .esr-table {
        height: 411px;
        overflow-y: auto;
        .ReactTable .pagination-bottom {
          padding-bottom: 0;
          .-pagination {
            padding-bottom: 0;
          }
        }
      }

      .action--info {
        font-size: 10px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $white-color;
        margin-top: 15px;
      }

      .component__title {
        margin-bottom: 20px;
      }

      &__left {
        width: 645px;
      }

      &__btn {
        margin: 0 10px;

        width: 30px;
        height: 411px;
        background-image: url("/images/common/ic-left-arrow-right.png");
        background-size: auto;
      }

      &__right {
        flex: 1;

        .dropdown {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.popup.popup--filter {
  width: auto;

  .flex-box {
    display: flex;
    .component__title {
      // margin-bottom: 12px;
      margin-bottom: 20px;
    }
    .search-bar {
      // margin-bottom: 15px;
      margin-bottom: 0px;

      input {
        width: 270px;
        display: inline-block;
      }
    }

    .filter-tree {
      height: 500px;
      width: 280px;
      padding-left: 5px;
      padding-right: 5px;
    }

    & > * {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
    .filter-table {
      max-width: 420px;
      height: 500px;

      .table-wrapper {
        height: calc(100% - 35px);
        .ReactTable {
          height: 100%;
        }
      }
    }
    .filter-info {
      min-width: 320px;
      height: 500px;

      textarea {
        // background-color: #4c4d57;
        background-color: #383b48;
      }

      .table {
        &.security-event {
          tr.desc {
            & > * {
              height: 260px;
            }
          }
        }
      }
    }

    .filter-condition {
      flex: 1;
      min-width: 400px;
      display: flex;
      flex-direction: column;
      .component__box {
        flex: 1;
        max-height: 466px;
      }
    }

    .filter-tree__wrap {
      overflow: auto;
      padding: 5px;

      li {
        div.has-child,
        div.child {
          padding-right: 3px;
        }
      }
    }
  }
}

#selectFieldGroupPopup {
  width: 370px;

  .popup__body {
    .filter-tree__wrap {
      padding: 20px;
      box-shadow: 0 0 0 1px $border-dark-color inset;
      height: 330px;
      overflow-y: auto;
    }
  }
}
