@import '../../../colors.scss';

#addIpPopup {
  .popup__body {
    padding-top: 10px;
    padding-bottom: 10px;

    .item-search {
      padding: 13px;
      background-color: #f7f7f7;
      // border: 1px solid #dadada;
      box-shadow: 0 0 0 1px #dadada inset;
      margin-bottom: 20px;

      label {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        margin-right: 5px;
      }

      input {
        height: 28px;
        background-color: $white-color;
        padding: 0 11px;
        outline: 0;
        border-color: #dadada;
        color: $black-color;
      }

      button.btn-search {
        min-width: 60px;
        padding: 0 10px;
      }
    }

    .table-wrapper {
      max-height: 323px;
      overflow-y: auto;
    }
  }
}

