@import '../../../colors.scss';

.popup.popup--user {
  .flex-box {
    display: flex;

    .react-inputs-validation__textbox__wrapper___3tnXv {
      flex: 1;
      margin-right: 10px;
    }
  }

  .popup--select {
    width: auto;

    .flex-box {
      display: flex;
      align-items: center;

      .filter-tree {
        padding-right: 5px;
        max-height: 550px;
      }

      &>* {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }

      .asset-table {
        width: 500px;
      }

      .selected-el {
        display: flex;
        flex-direction: column;
        width: 300px;

        .select-result {
          height: 510px;
        }

        .component__title {
          margin-bottom: 12px;
        }
      }

      .table-wrapper {
        height: 510px;

        .ReactTable {
          height: 100%;
        }
      }

      .search-bar {
        // margin-bottom: 0px;
        padding-bottom: 14px;
        border-bottom: 1px solid #4c4d57;
        position: relative;

        input {
          width: 180px;
          display: inline-block;
        }

        .binder {
          width: 1px;
          height: 20px;
          background-color: #4c4d57;
          display: inline-block;
          vertical-align: middle;
          margin: 0 10px 0 17px;
        }

        .btn {
          background-color: transparent;
          border: none;

          &--go {
            background-image: url('/images/filter/icon-go.png');
            margin-right: 5px;
          }

          &--filter {
            background-image: url('/images/filter/icon-remove-filter.png');
          }
        }
      }

      .select-result {
        list-style: none;
        padding: 8px 12px;
        margin: 0;
        box-shadow: 0 0 0 1px $border-dark-color inset;
        background-color: $btn-bg;
        height: 373px;
        overflow-y: auto;

        li {
          font-size: 12px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $white-color;

          &>* {
            vertical-align: middle;
          }

          .btn-delete {
            background-image: url('/images/common/ic-close.png');
            border: 0;
            background-color: transparent;
            margin-left: 8px;
          }
        }
      }
    }

    .popup__body {
      .customer-wrapper {
        padding: 20px;
        box-shadow: 0 0 0 1px $border-dark-color inset;
        display: flex;
        align-items: flex-end;

        .search-bar {
          border-bottom: 0;
          margin-bottom: 20px;
          padding-bottom: 0;
          height: 28px;

          &:after {
            display: none;
          }
        }

        .table-wrapper {
          display: flex;
          height: 380px;
          overflow-y: auto;

          .table:first-child {
            margin-right: 5px;
          }
        }

        .esr-table {
          height: 411px;
          overflow-y: auto;

          .ReactTable .pagination-bottom {
            padding-bottom: 0;

            .-pagination {
              padding-bottom: 0;
            }
          }
        }

        .action--info {
          font-size: 10px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $white-color;
          margin-top: 15px;
        }

        .component__title {
          margin-bottom: 20px;
        }



        &__left {
          width: 645px;
        }

        &__btn {
          margin: 0 10px;

          width: 30px;
          height: 411px;
          background-image: url('/images/common/ic-left-arrow-right.png');
          background-size: auto;
        }

        &__right {
          flex: 1;

          .dropdown {
            width: 100%;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

#addUserPopup {
  width: 500px;

  .popup__body {
    padding: 20px;

    .role__contents {
      padding: 20px;
      box-shadow: 0 0 0 1px #dadada inset;
    }

    .form-group {
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      label {
        font-size: 12px;
        font-weight: 300;
        margin-right: 23px;

        &.required:after {
          content: " *";
          color: $red-color;
        }
      }

      .form-control {
        color: $black-color;
      }

      input.form-control {
        width: 200px;
      }

      &:nth-child(2) {
        margin-bottom: 15px;
      }

      &:last-child {
        margin-bottom: 0;
        display: block;

        label {
          display: block;
          margin-right: 0;
          margin-bottom: 10px;
        }

        textarea.form-control {
          width: 100%;
          height: 85px;
        }
      }
    }
  }
}
