@import "../../colors.scss";

.wrapper.blackc2 {
  .tooltipDesc {
    min-width: 50px;
    max-width: 400px;
    min-height: 20px;
    max-height: 350px;
    line-height: 20px;
    pointer-events: auto;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-wrap: hidden;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    white-space: normal;
  }

  .component-right {
    flex: 1;
    padding: 0;
    max-height: 990px;
    // margin-right: 20px;

    width: 1154px;
    box-shadow: none;
  }

  .component-list {
    height: calc(100% - 40px);
  }

  .component-detail {
    width: 442px;
    flex: none;

    .dropdown {
      width: 100%;
    }
  }

  .component-content {
    height: calc(100% - 40px);
    padding: 20px;
    box-shadow: 0 0 0 1px $border-dark-color inset;
  }

  .component-search {
    display: flex;
    align-items: center;
    margin-bottom: 21px;

    .dropdown {
      width: 100px;
    }

    span {
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      margin-right: 10px;

      & + *:not(.react-datepicker-wrapper) {
        margin-right: 20px;
      }
    }

    .btns {
      margin-left: auto;

      span {
        margin-right: 0;

        & + *:not(.react-datepicker-wrapper) {
          margin-right: 20px;
        }
      }
    }

    .btn {
      span {
        margin-right: 0;

        & + *:not(.react-datepicker-wrapper) {
          margin-right: 20px;
        }
      }
    }

    &__calendar {
      margin-right: 20px;
    }
  }
}
