.wrapper.auditLog {
  .component-list {
    flex : 1;
    .component__title {
      margin-bottom: 20px;
    }

    .search-bar {
      margin-left: 50px;
      label, span {
        font-size: 12px;
        font-weight: 300;
      }
      label {
        margin-right: 10px;
      }
      .btn-search {
        margin-left: 10px;
      }
    }
    .btns {
      margin-left: auto;
    }

    .table-wrapper {
      // height: 852px;
      overflow-y: auto;
    }
  }
}
