.wrapper.code {
  .component-list {
    flex : 1;
    .component__title {
      margin-bottom: 20px;

      .btns:last-child {
        margin-left: auto;
      }

      .btn:not(.btn-rollback) {
        min-width: 60px;
        padding: 0 10px;
      }
    }

    .table-wrapper {
      // height: 852px;
      overflow-y: auto;
    }
  }
}
