@import '../../colors.scss';

.normalization-rule {
  .binder {
    width: 1px;
    height: 20px;
    background-color: #4c4d57;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
  }

  .component {
    flex: 1;

    &-content {
      display: flex;
    }
  }

  .section__title {
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;

    margin-bottom: 15px;
    display: flex;
    align-items: center;

    .btns {
      margin-left: auto;

      .btn {
        min-width: 60px;
        padding: 0 10px;
      }
    }
  }

  &__btns {
    margin-bottom: 20px;
    height: 28px;

    & > * {
      display: inline-block;
      vertical-align: middle;

      .btn {
        min-width: 60px;
        padding: 0 10px;
      }

      &:first-child {
        margin-right: 37px;
      }
    }
  }

  .search-bar {
    padding-bottom: 14px;
    margin-bottom: 30px;
    border-bottom: 1px solid #4c4d57;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: -5px;
      right: -12px;
      width: 1px;
      height: 40px;
      background-color: #4c4d57;
    }

    input {
      width: 180px;
      display: inline-block;
    }

    .binder {
      width: 1px;
      height: 20px;
      background-color: #4c4d57;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 17px;
    }

    .btn {
      background-color: transparent;
      border: none;

      &--go {
        background-image: url('/images/filter/icon-go.png');
        margin-right: 5px;
      }

      &--filter {
        background-image: url('/images/filter/icon-remove-filter.png');
      }

      &--search-toggle {
        width: 6px;
        height: 11px;
        margin-left: 18px;
        background-image: url('/images/common/ic-left-arrow-left.png');
      }
    }
  }

  .vender-tree {
    width: 310px;
    height: calc(100vh - 190px); //887px;
    flex: none;
    margin-right: 20px;
    position: relative;
    overflow: visible;
    display: flex;

    &.toggle-tree {
      position: absolute;
      z-index: 2;
    }

    &.open {
      width: 931px;

      .btn--filter-toggle {
        background-image: url('/images/common/ic-left-arrow-left.png');
      }

      .filter-tree__left {
        padding-right: 20px;
        margin-right: 20px;
        border-right: 1px solid #4c4d57;

        .search-bar:after {
          display: none;
        }
      }

      .filter-tree__right {
        display: block;
      }
    }

    .btn--filter-toggle {
      width: 25px;
      height: 80px;
      padding: 0;
      border: solid 1px #1b1e29;

      position: absolute;
      right: -24px;
      top: 0;
      border-left: 0;
      z-index: 1;
      background: url('/images/common/ic-left-arrow-right.png') no-repeat center
        top 28px #2f323c;
    }

    &__left {
      display: flex;
      flex-direction: column;
    }

    &__right {
      display: none;
      width: 560px;

      .component__title {
        margin-bottom: 15px;
      }
    }
  }

  .rule-result {
    .component__title {
      padding-bottom: 20px;

      .search-bar {
        margin-bottom: 0;
        border-bottom: 0;
        padding-bottom: 0;

        &:after {
          display: none;
        }
      }

      .btns button {
        min-width: 60px;
        padding: 0 10px;
      }
    }

    .table-wrapper {
      // height: calc(100% - 48px);
      overflow-y: auto;
    }
  }

  .accordion-list {
    padding: 0 20px;
    box-shadow: 0 0 0 1px $border-dark-color inset;

    .list {
      display: flex;
      padding: 20px 0;
      border-bottom: 1px solid $table-dark-border;

      &:last-child {
        border-bottom: 0;
      }

      &__badge {
        width: 20px;
        height: 20px;
        // border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        margin-top: 2px;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        &.check {
          background-image: url('/images/normalizer/icon-check.png');
        }

        &.warn {
          background-image: url('/images/normalizer/icon-warning.png');
        }
      }

      &__info {
        flex: 1;

        &--title {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          cursor: pointer;

          b {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 10px;
            display: block;
          }

          p {
            margin: 0;
            font-size: 12px;
            font-weight: 300;
          }
        }

        &--content {
          // display: none;
          visibility: hidden;
          height: 0;
          overflow-y: auto;
          transition: 0.3s;
          box-shadow: 0 0 0 1px $border-dark-color inset;
          background-color: $btn-bg;
          padding: 0;
          margin: 0;
          display: flex;

          &.flex-none {
            display: block;

            .component__title {
              margin-bottom: 20px;
              margin-right: 0;
            }

            .component {
              background-color: transparent;

              & > * {
                margin-bottom: 30px;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }

            .table-wrapper {
              height: 360px;

              .table-total-count {
                bottom: 0px !important;
              }
            }
          }

          .form-group {
            & > * {
              font-size: 12px;
              font-weight: 300;
              display: inline-block;
              vertical-align: middle;
              margin-right: 10px;

              &:last-child {
                margin-right: 0;
              }
            }
          }

          .left {
            &__regex {
              width: 900px;
              height: 360px;
            }

            &__json {
              width: 700px;
            }
          }

          .right {
            &__regex {
              width: 620px;
            }

            &__json {
              width: 720px;
            }
          }

          & > * {
            .component__title {
              margin-bottom: 12px;
            }

            &:first-child {
              margin-right: 20px;
            }

            .table-wrapper {
              height: 400px;

              .table-total-count {
                bottom: 0px !important;
              }
            }
          }
        }

        textarea {
          box-shadow: none;
          // border: 1px solid #1b1e29;
          margin: 0;
          padding: 0 10px;
          height: 100%;
        }

        .h150 {
          height: 150px;
        }

        .h300 {
          height: 300px;
        }

        .h500 {
          height: 500px;
        }
      }

      &.open {
        .list__info {
          &--content {
            // display: block;
            visibility: visible;
            height: auto;
            padding: 20px;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .flex-box {
    display: flex;

    & > * {
      flex: 1;

      &:first-child {
        margin-right: 20px;
      }
    }
  }

  .flex-box-arrange-row {
    display: flex;
    align-items: center;

    & > * {
      flex:none;

      .btn {
        float: right;
      }
    }
  }

  .component.rule-detail {
    display: flex;
    flex-direction: column;
    // height: 842px;
    box-shadow: none;
    padding: 0;
    background-color: transparent;

    .rule-detail__contents {
      flex: 1;
      display: flex;
      flex-direction: column;

      .contents {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: $component-bg;
        padding: 20px;
        box-shadow: 0 0 0 1px #1b1e29 inset;

        &.history {
          .top {
            overflow: auto;

            .left {
              max-width: 900px;
            }

            .right {
              .component__title {
                margin-bottom: 15px;

                & + * {
                  margin-bottom: 30px;
                }
              }

              .table-wrapper {
                height: 360px;

                .table-total-count {
                  bottom: 0px !important;
                }
              }

              .change-reason {
                .component__title {
                  font-size: 12px;
                  font-weight: 300;
                  margin-bottom: 10px;
                }
              }
            }
          }

          .bottom {
            padding-top: 20px;
            border-top: 1px solid #484b54;
          }
        }
      }
    }

    .component-tab {
      min-height: 40px;
      background-color: transparent;

      li {
        padding-left: 10px;
      }
    }

    .section__title {
      margin-bottom: 20px;
    }

    .top {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      .accordion-list {
        flex: 1;
        height: 650px;
        overflow-y: auto;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: flex-end;

    .change-reason {
      .component__title {
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 10px;
      }

      input.form-control {
        width: 900px;
      }
    }

    .btns {
      margin-left: auto;
    }
  }

  table.table--info {
    td {
      .dropdown-toggle {
        font-weight: 300;
      }
    }

    td.select-td {
      overflow: visible;
      position: relative;
      white-space: normal;

      .badge {
        margin-right: 5px;
        margin-bottom: 5px;
      }

      .dropdown {
        width: 100%;
        position: absolute;
        left: 0;

        &.open {
          z-index: 6;

          & + .dropdown-dim {
            z-index: 5;
          }
        }

        &-toggle {
          font-size: 0;
          border: none;
          background-color: transparent;
        }

        &-list {
          top: calc(100% + 2px);
        }
      }

      .react-inputs-validation__select__container___3jgUR {
        height: 24px;
      }
    }

    td.format-td {
      overflow: visible;
      padding-right: 0;
      padding-left: 0;

      .dropdown {
        width: 100%;
        left: 0;

        &.open {
          z-index: 6;

          & + .dropdown-dim {
            z-index: 5;
          }
        }

        &-toggle {
          border: none;
          background-color: transparent;
        }

        &-list {
          top: calc(100% + 2px);
        }
      }
    }
  }

  .badge {
    font-size: 12px;
    // display: inline-block;
    min-width: 100px;
    padding: 2px 8px;
    box-shadow: 0 0 0 1px #1b1e29 inset;
    display: inline-flex;
    align-items: center;
    background-color: $btn-bg;

    position: relative;
    z-index: 5;

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-left: auto;
    }
  }

  .popup.popup--field {
    width: 1000px;

    .popup__body {
      .component__title {
        margin-bottom: 20px;
        margin-right: 0;
        font-size: 14px;
      }

      .flex-box {
        display: flex;

        & > * {
          flex: 1;

          &:first-child {
            margin-right: 20px;
          }
        }

        .component {
          background-color: transparent;
          height: 500px;

          & > * {
            margin-bottom: 30px;

            &:last-child {
              margin-bottom: 0;
            }
          }

          .flex-box {
            display: flex;

            & > * {
              flex: 0;

              &:first-child {
                margin-right: 20px;
              }
            }
          }

          .form-group {
            & > * {
              font-size: 12px;
              font-weight: 300;
              display: inline-block;
              vertical-align: middle;
              margin-right: 10px;
              color: white;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }

  .popup.popup--select {
    width: 1560px;

    .popup__body {
      .component__title {
        margin-bottom: 20px;
        margin-right: 0;
        font-size: 14px;
      }

      .form-control {
        &:disabled {
          background-color: #2f323c;
          color: white;
        }
      }

      .hdr {
        height : 540px;
      }
      
      .cont {
        height : 506px;
      }

      .component {
        background-color: transparent;

        & > * {
          margin-bottom: 30px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .flex-box {
          display: flex;

          & > * {
            flex: 1;

            &:first-child {
              margin-right: 20px;

              height:360px;
              margin-bottom: 40px;
            }
          }
        }

        .flex-box-arrange {
          display: flex;

          & > * {
            flex: 0;

            &:first-child {
              margin-right: 20px;
            }
          }

          .left {
            &__regex {
              min-width: 720px;
              height: 300px;

              & > * {
                .component__title {
                  margin-bottom: 12px;
                }
              }

              .flex-box {
                display: flex;

                & > * {
                  flex: 1;

                  &:first-child {
                    margin-right: 20px;
                  }
                }

                .table-wrapper {
                  height: 360px;

                  .table-total-count {
                    bottom: 0px !important;
                  }
                }
              }
            }

            &__json {
              width: 660px;
              
              & > * {
                .component__title {
                  margin-bottom: 12px;
                }
              }

              .flex-box {
                display: flex;

                & > * {
                  flex: 1;

                  &:first-child {
                    margin-right: 20px;
                  }
                }

                .table-wrapper {
                  height: 360px;

                  .table-total-count {
                    bottom: 0px !important;
                  }
                }
              }
            }

            .table-wrapper {
              height: 360px;

              .table-total-count {
                bottom: 0px !important;
              }
            }
          }

          .right {
            &__regex {
              width: 740px;
              height: 330px;

              & > * {
                .component__title {
                  margin-bottom: 12px;
                }
              }

              .noData {
                margin: 130px 260px;
                border: solid 1px #1b1e29;
                background-color: #282a36;
                color: rgba(255, 255, 255, 0.4);
                padding: 10px;
                min-width: 240px;
                text-align: center;
                font-size: 13px;
              }

              .table-wrapper {
                height: 360px;

                div {
                  .match {
                    margin-bottom: 10px;
                    margin-top: 10px;

                    span {
                      font-size: 14px;
                      color: white;
                    }
                  }
                }

                .table-total-count {
                  bottom: 0px !important;
                }
              }
            }

            &__json {
              width: 780px;

              & > * {
                .component__title {
                  margin-bottom: 12px;
                }
              }

              .table-wrapper {
                height: 280px;

                .table-total-count {
                  bottom: 0px !important;
                }
              }
            }

            .table-wrapper {
              height: 280px;

              .table-total-count {
                bottom: 0px !important;
              }
            }
          }
        }

        .table-wrapper {
          height: 360px;

          .table-total-count {
            bottom: 0px !important;
          }
        }

        .form-group {
          & > * {
            font-size: 12px;
            font-weight: 300;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            color: white;

            &:last-child {
              margin-right: 0;
            }
          }

          .react-inputs-validation__select__container___3jgUR {
            font-size: 12px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #fff;
            border:1px solid #1b1e29;
            background-color:#383b48;
            height: 24px;
          }

          .react-inputs-validation__select__options-item___30yY4 {
            background-color:#383b48;
          }

          .react-inputs-validation__select__hover-active___2z1MQ {
            color:#93bde9;
          }
          
          .react-inputs-validation__show___2NI3u {
            border:1px solid #1b1e29;
          }

          .react-inputs-validation__active___3eZBB {
            color:#93bde9;
          }
        }
      }
    }
  }
}
