@import "../../colors.scss";

.enginOpt-mgmt {
  .binder {
    width: 1px;
    height: 20px;
    background-color: #4c4d57;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
  }

  .component {
    flex: 1;

    &-content {
      display: flex;
    }
  }

  .section__title {
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;

    margin-bottom: 20px;
  }

  &__btns {
    margin-bottom: 20px;
    height: 28px;

    & > * {
      display: inline-block;
      vertical-align: middle;

      .btn {
        min-width: 60px;
        padding: 0 10px;
      }

      &:first-child {
        margin-right: 37px;
      }
    }
  }

  .search-bar {
    padding-bottom: 14px;
    border-bottom: 1px solid #4c4d57;
    position: relative;
    height: fit-content;
    flex: none;

    input {
      width: 200px;
      margin-right: 5px;
      display: inline-block;
    }

    .binder {
      width: 1px;
      height: 20px;
      background-color: #4c4d57;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 17px;
    }

    .btn {
      background-color: transparent;
      border: none;

      &--go {
        background-image: url("/images/filter/icon-go.png");
      }

      &--enginOpt {
        background-image: url("/images/filter/icon-remove-filter.png");
      }

      &--search-toggle {
        width: 6px;
        height: 11px;
        margin-left: 18px;
        background-image: url("/images/common/ic-left-arrow-left.png");
      }
    }
  }

  .enginOpt-tree {
    width: 330px;
    height: 880px;
    max-height: 880px;
    flex: none;
    margin-right: 20px;
    position: relative;
    display: unset;
    overflow: hidden;

    &.toggle-tree {
      position: absolute;
      z-index: 1;
    }

    &.open {
      width: 931px;

      .btn--enginOpt-toggle {
        background-image: url("/images/common/ic-left-arrow-left.png");
      }

      .enginOpt-tree__left {
        padding-right: 20px;
        margin-right: 20px;
        border-right: 1px solid #4c4d57;
      }

      .enginOpt-tree__right {
        display: block;
      }
    }

    .btn--enginOpt-toggle {
      width: 25px;
      height: 80px;
      padding: 0;
      border: solid 1px #1b1e29;

      position: absolute;
      right: -24px;
      top: 0;
      border-left: 0;
      z-index: 1;
      background: url("/images/common/ic-left-arrow-right.png") no-repeat center
        top 28px #2f323c;
    }

    &__left {
      display: flex;
      flex-direction: column;
    }

    .enginOpt-tree__wrap {
      overflow: auto;
      height: 810px;
      max-height: 810px;

      .rc-tree {
        max-height: 810px;
      }
    }
  }

  .enginOpt-result {
    .component__title {
      margin-bottom: 5px;
      .search-bar {
        margin-bottom: 0;
        border-bottom: 0;
        padding-bottom: 20px;

        &:after {
          display: none;
        }
      }

      .btns button {
        min-width: 60px;
        padding: 0 10px;
      }
    }

    .table-wrapper {
      // height: calc(100% - 48px);
      // padding-top: 4px;
      padding-bottom: 25px;
      overflow-y: auto;
    }
  }

  // 필터 정보
  .enginOpt-info {
    .table {
      height: 100%;

      th {
        position: relative;
        .btn--search {
          position: absolute;
          top: 50%;
          right: 6px;
          transform: translateY(-50%);
        }
      }

      &.security-event {
        tr.desc {
          & > * {
            height: 395px;
          }

          textarea {
            height: 100%;
          }
        }
      }

      td {
        padding: 6px 10px;
        vertical-align: middle;
      }

      tr.desc {
        td {
          padding-left: 10px;
          padding-right: 10px;
        }
        & > * {
          height: 297px;
        }
        textarea {
          height: 289px;
        }
      }

      tr.period,
      tr.icon {
        td {
          padding-left: 10px;
          padding-right: 0;
        }
      }

      tr.icon {
        th,
        td {
          padding-top: 2px;
          padding-bottom: 2px;
        }
      }

      .radio {
        display: inline-block;
        vertical-align: middle;
        span {
          margin-left: 5px;
        }
      }
    }
  }

  // 필터 조건
  .enginOpt-condition {
    .component__title {
      margin-bottom: 12px;

      .btns {
        .btn:not(.btn--skyblue-close) {
          min-width: 80px;
          padding: 0;
        }

        &--left {
          margin-left: 50px;
        }

        &--center {
          margin-left: 0;
        }
      }
    }

    .component__box {
      overflow-y: auto;
      box-shadow: 0 0 0 1px #484b54 inset;
    }
  }

  .component-content__right {
    // flex: 1;
    display: flex;
    flex-direction: column;
    flex: none;
    width: 1205px;
    height: 849px;
    margin-left: auto;

    .component__title {
      margin-bottom: 15px;
      height: 22px;
    }

    & > * {
      display: flex;

      & > * {
        display: flex;
        flex-direction: column;

        .component__title + * {
          flex: 1;
        }
      }

      & > *:first-child {
        width: 380px;
        margin-right: 20px;
      }

      & > *:last-child {
        flex: 1;
      }
    }

    .change-history {
      .table tbody tr {
        cursor: pointer;
      }
    }

    .top {
      height: 502px;
      margin-bottom: 20px;
    }

    .bottom {
      flex: 1;

      .table-wrapper {
        overflow-y: auto;
      }
    }

    .btn--dark-close {
      margin-right: 10px;
    }
    .btn--dark-file {
      width: 12px;
      height: 12px;
      padding: 0;
      background-image: url("/images/common/dark_tree_file.png");
      margin-left: 5px;
      border: none;
    }
  }
}

.react-contexify {
  width: 131px;
}
