@import '../../../colors.scss';

.left-menu-wrapper {
  position: fixed;
  z-index: 5;
  top: 70px;
  left: 0px;
  width: 284px; // 244px + (메뉴가 가지는 좌우 padding 만큼: 20 + 20)
  height: calc(100vh - 110px);
  max-height: 970px;
  background-color: rgb(39, 42, 52);
  //border-right: 1px solid $border-dark-color;

  // // 좌측메뉴 고정 (퍼블리셔가, 최종적으로 적용된 방식)
  // & + div {
  //   margin-left: 264px;
  //   width: calc(100vw - 302px);
  //   height: calc(100vh - 90px);
  //   overflow: auto;
  //   flex: none;
  //   max-width: 1616px;
  //   max-height: 990px;
  // }
  // // -

  // 좌측 메뉴 고정
  & + div {
    margin-left: 264px !important;
    width: calc(100vw - 302px);
    height: calc(100vh - 110px);
    overflow: auto;
    flex: none;
    max-width: 1616px; // 1920 - 20 - 20 - 264 = 1616
    max-height: 970px; // 1080 - (110: 35 + 35 + 40) (윈도우 브라우저 상당/하단 영역만큼 제외시킴)
  }

  // -
}

.left-menu {
  width: 244px;
  flex: none;

  background-color: #363a47;
  border: 1px solid $border-dark-color;

  margin-right: 20px;

  //좌측 메뉴 고정
  position: fixed;
  top: 70px;
  left: 20px;
  height: calc(100vh - 110px);
  max-height: 970px; // 1080 - (110: 35 + 35 + 40) (윈도우 브라우저 상당/하단 영역만큼 제외시킴)
  z-index: 2;
  // -

  &__title {
    background-color: #3d414d;
    padding: 30px 0 31px;
    text-align: center;

    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $white-color;

    border-bottom: 1px solid $border-dark-color;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      a {
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-decoration: none;
        display: block;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid rgba(27, 30, 41, 0.3);
      }
    }

    a {
      &.active,
      &:hover {
        color: $skyblue-color;
      }
    }

    & > li {
      & > a {
        padding: 7px 26px 8px;
        font-size: 15px;
        color: $white-color;
        background-color: #323541;

        &:after {
          content: '';
          width: 11px;
          height: 6px;
          /* background: url('/images/common/ic-left-arrow-down.png') no-repeat center transparent; */
          position: absolute;
          top: 50%;
          right: 25px;
          transform: translateY(-50%);
        }
      }

      &.active {
        & > a {
          background-color: #2b2d39;
          /* &:after {
            background-image: url('/images/common/ic-left-arrow-up.png');
          }*/
        }
      }

      ul {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          a {
            font-size: 13px;
            color: #d4d5d7;
            padding: 9px 0 9px 41px;
            font-weight: 500;

            &:before {
              content: '';
              width: 7px;
              height: 7px;
              background: url('/images/common/ic-left-child-normal.png')
                no-repeat center transparent;
              background-size: cover;
              position: absolute;
              top: calc(50% - 3px);
              left: 27px;
              transform: translateY(-50%);
            }
          }

          &.active {
            position: relative;

            a {
              background-color: #31343e;

              &:before {
                background-image: url('/images/common/ic-left-child-active.png');
              }
            }
          }
        }
      }
    }
  }
}
