.esr-table {
  height: 100%;
}

.ReactTable {
  border: 0;
  width: 100%;
  /* height: 100%; */
  font-size: 12px;

  select {
    font-size: 12px;
    width: 100%;
    height: 28px;
    background-color: #383b48 !important;
    border: 1px solid #1b1e29;
    border-radius: 0;
    color: #ffffff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/images/common/ic-top-arrow-down.png) !important;
    background-repeat: no-repeat !important;
    background-position: center right 10px !important;
    padding: 0 10px;
    option {
      background-color: #383b48;
    }
  }

  .rt-table {
    height: calc(100% - 80px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .rt-resizer {
    z-index: 1;
  }

  .rt-thead.-header .rt-th {
    min-height: 30px;
    border: 1px solid #484b54;
    background-color: #2b2d37;
    border-right-color: transparent;
    color: #ffffff;
    overflow: visible;
    outline: 0;
    font-weight: 300;
    font-size: 12px;

    &:first-child {
      border-left-color: transparent;
    }
  }

  .rt-thead.-filters {
    .rt-th {
      min-height: 30px;
      border-bottom: 1px solid #484b54;
      overflow: visible;
      outline: 0;
      font-size: 12px;
      font-weight: 300;

      .dropdown {
        width: 110px;
        &.open {
          border-bottom: 0;
        }

        &-list {
          margin-top: -1px;
          li {
            border-bottom: none;

            label {
              width: 100%;
            }

            &:hover {
              background-color: #2e323d;
            }
          }
        }
      }
    }

    input {
      height: 28px;
      background-color: #383b48;
      border: 1px solid #1b1e29;
      outline: 0;
      width: 100%;
      color: #ffffff;
      padding: 0 10px;
      font-weight: 300;
      border-radius: 0;
      &:focus {
        border-color: #93bde9;
      }
      &:disabled {
        border-color: #1b1e29;
        color: rgba(136, 136, 136, 0.5);
      }
    }
  }

  .rt-tbody {
    
    .rt-tr-group {
      &.selected {
        background-color: rgba(35, 36, 49, 0.8);
      }
    }

    .rt-td {
      // grid table은 div로 만들어서 flex를 사용할 수 없다면 수직 중앙정렬은 line-height를 버튼 높이와 맞출 수 밖에 없습니다.
      line-height: 30px;
      border-bottom: 1px solid #484b54;
      color: #ffffff;
      min-height: 30px;
      padding: 4px 5px;
      font-weight: 300;

      //display: flex; flex설정 시 grid내 문자정렬 설정이 안먹힘
      display: inline;

      // &.selected {
      //   background-color: rgba(35, 36, 49, 0.8);
      // }

      .checkbox {
        line-height: normal;
        margin-top: 0;
        vertical-align: middle;
        display: inline-block;
      }

      span {
        vertical-align: middle;
        // grid table은 div로 만들어서 flex를 사용할 수 없다면 수직 중앙정렬은 line-height를 버튼 높이와 맞출 수 밖에 없습니다.
        line-height: 30px;
        // flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p {
        margin: 0;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .pagination-bottom {
    padding: 19px 0 20px;
    // border-top: 1px solid #484b54;
  }

  .-pagination {
    box-shadow: none;
    border: 0;
    display: block;
    text-align: left;
    padding-left: 120px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 100px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 1px;
      height: calc(100% - 10px);
      background-color: #484b54;
    }

    & > * {
      display: inline-block;
      vertical-align: middle;
    }

    .-center {
      flex: none;
      display: inline-block;
      margin: 0 10px;

      .-pageInfo {
        color: #888888;
        // margin-right: 10px;
      }

      .-pageSizeOptions {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .-center > * {
      margin: 0;
      font-size: 12px;
    }

    .-pageJump {
      input {
        height: 28px;
        background-color: #383b48;
        border: 1px solid #1b1e29;
        outline: 0;
        width: 35px;
        color: #ffffff;
        padding: 0;
        font-weight: 300;
        border-radius: 0;
        margin: 0 5px;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }

    select {
      font-size: 12px;
      width: 80px;
      height: 28px;
      background-color: #383b48 !important;
      border: 1px solid #1b1e29;
      border-radius: 0;
      color: #ffffff;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url(/images/common/ic-top-arrow-down.png) !important;
      background-repeat: no-repeat !important;
      background-position: center right 10px !important;
      option {
        background-color: #383b48;
      }
    }

    .-previous {
      .-btn {
        background-image: url('/images/common/ic-page-left.png');
        background-color: #383b48;
        &:hover {
          background-image: url('/images/common/ic-page-left.png');
          background-repeat: no-repeat;
          background-position: center;
          background-color: #2a2d36;
        }
        &:active {
          border-color: #93bde9;
        }
        &:disabled {
          background-color: #2f333e;
          color: rgba(136, 136, 136, 0.5);
          box-shadow: none;
          cursor: not-allowed;
          border-color: #1b1e29;
        }
      }
    }

    .-previous-first {
      margin-right: 5px;
      .-btn {
        background-image: url('/images/common/ic-page-left-first.png');
        background-color: #383b48;
        &:hover {
          background-image: url('/images/common/ic-page-left-first.png');
          background-repeat: no-repeat;
          background-position: center;
          background-color: #2a2d36;
        }
        &:active {
          border-color: #93bde9;
        }
        &:disabled {
          background-color: #2f333e;
          color: rgba(136, 136, 136, 0.5);
          box-shadow: none;
          cursor: not-allowed;
          border-color: #1b1e29;
        }
      }
    }

    .-next {
      .-btn {
        margin-left: auto;
        background-image: url('/images/common/ic-page-right.png');
        background-color: #383b48;
        &:hover {
          background-image: url('/images/common/ic-page-right.png');
          background-repeat: no-repeat;
          background-position: center;
          background-color: #2a2d36;
        }
        &:active {
          border-color: #93bde9;
        }
        &:disabled {
          background-color: #2f333e;
          color: rgba(136, 136, 136, 0.5);
          box-shadow: none;
          cursor: not-allowed;
          border-color: #1b1e29;
        }
      }
    }

    .-next-last {
      margin-left: 5px;
      .-btn {
        margin-left: auto;
        background-image: url('/images/common/ic-page-right-last.png');
        background-color: #383b48;
        &:hover {
          background-image: url('/images/common/ic-page-right-last.png');
          background-repeat: no-repeat;
          background-position: center;
          background-color: #2a2d36;
        }
        &:active {
          border-color: #93bde9;
        }
        &:disabled {
          background-color: #2f333e;
          color: rgba(136, 136, 136, 0.5);
          box-shadow: none;
          cursor: not-allowed;
          border-color: #1b1e29;
        }
      }
    }

    .-btn {
      width: 28px;
      height: 28px;
      padding: 0;
      background-repeat: no-repeat;
      background-position: center center;
      font-size: 0;
      border: 1px solid #1b1e29;
      border-radius: 0;
    }
  }

  .rt-noData {
    border: solid 1px #1b1e29;
    background-color: #282a36;
    color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    min-width: 240px;
    text-align: center;
    font-size: 13px;
  }
}
