@import '../../../colors.scss';

.calendar {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 100px;

  .fake__dropdown {
    width: 100%;
    height: 28px;
    border: solid 1px #1b1e29;
    background-color: #383b48;
    text-align: left;
    padding: 0 10px;
    color: $white-color;
    font-size: 12px;

    background-image: url('/images/common/ic-top-arrow-down.png');
    background-repeat: no-repeat;
    background-position: center right 10px;
    outline: 0;
    cursor: pointer;

    position: relative;
    z-index: 1;

    &.open {
      background-image: url('/images/common/ic-top-arrow-up.png');

      & + .react-calendar {
        display: block;
      }
    }

    & + .react-calendar {
      display: none;

      position: absolute;
      z-index: 12;
    }
  }

  &-dim {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
  }

  &.open {
    .calendar-dim {
      display: block;
    }
  }
}
