@import "../../colors.scss";

  .tooltipClass {
    min-width     : 50px;
    max-width     : 400px;
    min-height    : 20px;
    max-height    : 350px;
    line-height   : 20px;
    pointer-events: auto;
    overflow-x    : hidden;
    overflow-y    : auto;
    overflow-wrap : hidden;
    word-wrap     : break-word;
    word-break    : break-all;
    word-break    : break-word;
    white-space   : normal;
  }