.axui-datagrid-body {
  background-color: #2f323c;
}

.axui-datagrid table tr td {
  background-color: #2f323c;
  border-right: 1px solid #484b54;
  border-bottom: 1px solid #484b54;

}

.axui-datagrid table tr td.axui-datagrid-header-column {
  background-color: #2b2d37;
}

.axui-datagrid-header {
  color: white;
}