@import '../../colors.scss';




.wrapper.threat-class-system {

  .tooltipDesc {
    min-width     : 50px;
    max-width     : 400px;
    min-height    : 20px;
    max-height    : 350px;
    line-height   : 20px;
    pointer-events: auto;
    overflow-x    : hidden;
    overflow-y    : auto;
    overflow-wrap : hidden;
    word-wrap     : break-word;
    word-break    : break-all;
    word-break    : break-word;
    white-space   : normal;
  }
 
  .component-right {
    flex: 1;
  }

  .component-tree {
    margin-right: 42px;
    &.hide {
      margin-right: 20px;
    }
  }

  .component-top {
    // height: 902px;
    // height: 100%;
    // margin-bottom: 20px;
    display: flex;
    height: calc(100vh - 110px);

    &__left {
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      max-height: 970px;
      height: calc(100vh - 110px);
      margin-right: 20px;
      width: 442px;

      .dropdown {
        width: 100%;
      }

      & > * {
        padding: 23px;

        .component__title {
          margin-bottom: 21px;
        }

        &.top-class {
          margin-bottom: 20px;
          overflow-y: visible;
        }
        &:last-child {
          flex: 1;
        }
      }
    }

    &__right {
      // min-width: 882px;
      // min-width: 860px;
      flex: 1;
      display: flex;
      flex-direction: column;
      max-height: 970px;
      height: calc(100vh - 110px);
      
      .component__title {
        margin-bottom: 21px;
      }

      // .table-wrapper {
      //   flex: 1;
      // }
    }
  }

  // .component-bottom {
  //   text-align: right;
  //   height: 68px;
  // }
}

#RuleInfoPopup {
  .popup__body {
    padding: 0;

    .filter-detail {
      display: flex;
      flex-direction: column;
      .checkbox span {
        margin-left: 4px;
      }
      .top {
        display: flex;
        .left {
          margin-right: 20px;
        }
        .right {
          flex: 1;
          color: #fff;
        }
      }
    }

    .filter-condition__box {
      .component__box {
        height: 315px !important;
        box-shadow: 0 0 0 1px #1b1e29 inset;
        padding: 10px;
        overflow-y: auto;
      }
    }
  }

  .checkbox__wrap {
    .checkbox {
      display: inline-block;
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
