@import '../../../colors.scss';

.select-period {
  display: inline-block;
  position: relative;
  span {
    cursor: pointer;
  }

  .period {
    background-color: $white-color;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    z-index: 1;

    color: $black-color;
    font-size: 12px;
    font-weight: 300;
    padding: 12px 20px;

    width: 600px;
    height: 490px;

    display: flex;
    flex-direction: column;

    &-tabs {
      margin: 0 0 10px;
      padding: 0;
      list-style: none;
      border-bottom: 1px solid #dadada;

      li {
        font-weight: 500;
        display: inline-block;
        vertical-align: middle;
        border-bottom: 2px solid transparent;
        padding-bottom: 9px;
        margin-right: 30px;

        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        &.active {
          border-color: $blue-color;
        }
      }
    }

    &-content {
      flex: 1;
      &.quick {
        ul {
          list-style: none;
          padding: 0 10px;
          margin: 0;

          li {
            display: inline-block;
            width: calc(100% / 3);
          }
        }
      }

      &.absolute {
        margin: 0 -5px;

        &__title {
          margin-bottom: 5px;
        }

        input.form-control {
          width: 100%;
          background-color: $white-color;
          color: $black-color;
          border-color: #dadada;
          margin-bottom: 10px;
        }

        & > * {
          display: inline-block;
          width: 50%;
          padding: 0 5px;

          .react-calendar {
            width: 100%;
          }
        }
      }
    }

    .btns {
      text-align: center;
    }
  }
}
