@import '../../../colors.scss';

.component-no-result {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 100px 0;
  height: calc(100% - 50px);

  .no-result__box {
    width: 300px;
    margin: 0 auto;

    img {
      width: 100%;
    }

    p {
      margin: 0;
      font-size: 18px;
      font-weight: 500;
      color: #bebec2;
      // line-height: 1;
      line-height: 1.4;
      word-break: keep-all;
    }
  }
}
