@import "../../colors.scss";

.filter-mgmt {
  .tooltipClass {
    min-width: 50px;
    max-width: 400px;
    min-height: 20px;
    max-height: 350px;
    line-height: 20px;
    pointer-events: auto;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-wrap: hidden;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    white-space: normal;
  }

  .filter-tree__wrap {
    .field__badge {
      position: relative;
      bottom: -1px;
    }
  }
  span.title {
    vertical-align: middle;
  }
  .binder {
    width: 1px;
    height: 20px;
    background-color: #4c4d57;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
  }

  .component {
    flex: 1;

    &-content {
      display: flex;
    }
  }

  .section__title {
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;

    margin-bottom: 20px;
  }

  &__btns {
    margin-bottom: 20px;
    height: 28px;

    & > * {
      display: inline-block;
      vertical-align: middle;

      .btn {
        min-width: 60px;
        padding: 0 10px;
      }

      &:first-child {
        margin-right: 37px;
      }
    }
  }

  .search-bar {
    padding-bottom: 14px;
    margin-bottom: 30px;
    border-bottom: 1px solid #4c4d57;
    position: relative;

    input {
      width: 400px;
      display: inline-block;
    }

    .binder {
      width: 1px;
      height: 20px;
      background-color: #4c4d57;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 17px;
    }

    .btn {
      background-color: transparent;
      border: none;

      &--go {
        background-image: url("/images/filter/icon-go.png");
        margin-right: 5px;
      }

      &--filter {
        background-image: url("/images/filter/icon-remove-filter.png");
      }
    }
  }

  .filter-tree {
    width: 330px;
    height: 849px;
    flex: none;
    margin-right: 20px;
    position: relative;
    overflow: visible;
    display: flex;

    &.toggle-tree {
      position: absolute;
      z-index: 2;
    }

    &.open {
      width: 931px;

      .btn--filter-toggle {
        background-image: url("/images/common/ic-left-arrow-left.png");
      }

      .filter-tree__left {
        padding-right: 20px;
        margin-right: 20px;
        border-right: 1px solid #4c4d57;

        .search-bar:after {
          display: none;
        }
      }

      .filter-tree__right {
        display: block;
      }
    }

    .btn--filter-toggle {
      width: 25px;
      height: 80px;
      padding: 0px;
      border: solid 1px #1b1e29;

      position: absolute;
      right: -24px;
      top: 0;
      border-left: 0;
      z-index: 1;
      background: url("/images/common/ic-left-arrow-right.png") no-repeat center
        top 28px #2f323c;
    }

    &__left {
      display: flex;
      flex-direction: column;
    }

    &__right {
      display: none;
      width: 560px;

      .component__title {
        margin-bottom: 5px;
      }

      .table-wrapper {
        overflow-y: auto;
        height: calc(100% - 37px);
      }
    }
  }

  .filter-result {
    .component__title {
      padding-bottom: 20px;
      .search-bar {
        margin-bottom: 0;
        border-bottom: 0;
        padding-bottom: 0;

        &:after {
          display: none;
        }
      }

      .btns button {
        padding: 1;
      }
    }

    .table-wrapper {
      height: calc(100% - 48px);
      overflow-y: auto;
    }
  }

  // 필터 정보
  .filter-info {
    .table {
      height: 100%;

      th {
        position: relative;
        .btn--search {
          position: absolute;
          top: 50%;
          right: 6px;
          transform: translateY(-50%);
        }
      }

      &.security-event {
        tr.desc {
          & > * {
            height: 395px;
          }

          textarea {
            height: 100%;
          }
        }
      }

      td {
        padding: 6px 10px;
        vertical-align: middle;
      }

      tr.desc {
        td {
          padding-left: 10px;
          padding-right: 10px;
        }
        & > * {
          height: 297px;
        }
        textarea {
          height: 289px;
        }
      }

      tr.period {
        p {
          padding: 0 10px;
          margin: 0 0 9px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      tr.period,
      tr.icon {
        td {
          padding-left: 10px;
          padding-right: 0;

          .icon-box {
            width: 24px;
            height: 24px;
            display: inline-block;
            vertical-align: middle;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }

          p {
            .react-datepicker-wrapper {
              width: 100px;
            }
          }
        }
      }

      tr.icon {
        th,
        td {
          padding-top: 2px;
          padding-bottom: 2px;
        }
      }

      .radio {
        display: inline-block;
        vertical-align: middle;
        span {
          margin-left: 5px;
        }
      }
    }
  }

  // 필터 조건
  .filter-condition {
    .component__title {
      margin-bottom: 12px;

      .btns {
        &--left {
          margin-left: 50px;
        }

        &--center {
          margin-left: 0;
        }
      }
    }

    .component__box {
      overflow-y: auto;
      // box-shadow: 0 0 0 1px #484b54 inset;
      border: 1px solid #484b54;
    }

    .filter-tree__wrap.type-condition {
      padding: 20px;
      height: 100%;

      ul:not(.dropdown-list) {
        display: inline-block;
        white-space: nowrap;

        li {
          div.has-child,
          div.child {
            padding-right: 10px;
            font-size: 12px;
          }

          ul:not(.dropdown-list) {
            width: 100%;
          }
        }
      }

      input {
        width: 180px;
        height: 24px;
      }

      .btn--close {
        background-color: transparent;
      }

      .dropdown {
        margin-right: 5px;
        height: 24px;
        // z-index: unset;
      }

      .checkbox {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }

  .component-filter-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    // height: 990px;
    max-height: 970px;
    height: calc(100vh - 110px);

    ul.component-tab li {
      padding-left: 11px;
    }

    .filter-detail {
      display: flex;
      flex-direction: column;

      .history {
        margin-top: 37px;
        margin-right: 20px;
        overflow-y: auto;
      }

      .top {
        display: flex;
        margin-bottom: 20px;
        height: 842px;

        .left {
          width: 420px;
          margin-right: 20px;

          .component__title {
            margin-bottom: 5px;

            .filter-title {
              width: 460px;
            }
          }

          .filter-info {
            .table {
              &.security-event {
                tr.desc {
                  & > * {
                    height: 160px;
                  }
                }
              }
            }
          }

          .change-reason {
            textarea.form-control {
              height: 80px;
            }
          }

          .use-rule {
            margin: 18px 0 20px;
            .table-wrapper {
              height: 270px;
              overflow-y: auto;

              .ReactTable {
                height: 100%;
              }
            }
          }
        }

        .right {
          flex: 1;

          .filter-condition {
            display: flex;
            flex-direction: column;
            height: 100%;
            .component__title {
              margin-bottom: 10px;
            }
            .component__box {
              flex: 1;
            }
          }
        }
      }
      .bottom {
        text-align: right;
        padding-top: 20px;
        border-top: 1px solid $table-dark-border;
      }
    }
  }

  .component-content__right {
    // flex: 1;
    display: flex;
    flex-direction: column;
    flex: none;
    width: 1205px;
    height: 849px;
    margin-left: auto;

    .component__title {
      margin-bottom: 5px;
      height: 22px;
    }

    & > * {
      display: flex;

      & > * {
        display: flex;
        flex-direction: column;

        .component__title + * {
          flex: 1;
        }
      }

      & > *:first-child {
        width: 380px;
        margin-right: 20px;
      }

      & > *:last-child {
        flex: 1;
      }
    }

    .change-history {
      .table tbody tr {
        cursor: pointer;
      }
    }

    .top {
      height: 502px;
      margin-bottom: 20px;
    }

    .bottom {
      flex: 1;

      .table-wrapper {
        overflow-y: auto;
      }
    }

    .btn--dark-close {
      margin-right: 10px;
    }
    .btn--dark-file {
      width: 12px;
      height: 12px;
      padding: 0;
      background-image: url("/images/common/dark_tree_file.png");
      margin-left: 5px;
      border: none;
    }
  }
}

.react-contexify {
  width: 131px;
}

.file-import {
  margin-top: 8px;
  display: flex;
  align-items: center;
  input.form-control {
    padding-top: 4px;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  .btn--file {
    background-color: transparent;
    border: none;
    background-image: url("/images/common/icon_import.png");
    display: inline-block;

    width: 28px;
    height: 28px;
    background-size: cover;
    margin-left: 6px;
    cursor: pointer;
  }
}

.rc-tree {
  .rc-tree-switcher {
    margin-top: 0px;
  }
}

// .react-contexify {
//   z-index: 2;
//   box-shadow: 0 0 0 1px #1b1e29 inset;
//   background-color: #383b48;
//   min-width: auto;
//   padding: 14px 15px;

//   &.table-context {
//     width: 300px;
//     padding: 0;

//     table {
//       tr:last-child {
//         td {
//           border-bottom: 0;
//         }
//       }
//       th {
//         width: 36px;
//         background-color: $border-dark-color;

//         background-repeat: no-repeat;
//         background-position: top 6px center;
//         background-size: 24px;
//         &.filter {
//           background-image: url('/images/filter/icon-filter.png');
//         }
//         &.search {
//           background-position: top 8px center;
//           background-size: 20px;
//           background-image: url('/images/common/ic_search.png');
//         }
//         &.paste {
//           background-image: url('/images/common/ic_paste.png');
//         }
//         &.help {
//           background-image: url('/images/common/ic_help.png');
//         }
//       }
//       td {
//         padding: 10px;
//         border-bottom: 1px solid $border-dark-color;
//         p {
//           margin: 0 0 10px;
//           &:hover {
//             color: $skyblue-color;
//           }
//           &:last-child {
//             margin-bottom: 0;
//           }
//         }
//       }
//     }

//     .react-contexify__item {
//       &:not(.react-contexify__item--disabled):hover {
//       & > .react-contexify__item__content {
//           color: $white-color;
//           background-color: transparent;
//         }
//       }
//     }
//   }

//   &__item {
//     margin-bottom: 10px;

//     &:last-child {
//       margin-bottom: 0;
//     }

//     &__content {
//       background-color: transparent;
//       font-size: 12px;
//       font-weight: 300;
//       font-style: normal;
//       font-stretch: normal;
//       line-height: normal;
//       letter-spacing: normal;
//       color: $white-color;
//       padding: 0;
//     }

//     &:not(.react-contexify__item--disabled):hover {
//       & > .react-contexify__item__content {
//         color: $skyblue-color;
//         background-color: transparent;
//       }
//     }
//   }
// }
