@import "../../../colors.scss";

.navbar {
  display: flex;
  align-items: center;
  padding: 8px 18px 8px 10px;
  background-color: #1f222e;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  /* 상단 고정 */
  position: fixed;
  z-index: 2;
  width: 100%;
  max-width: 1920px;
  left: 0;
  top: 0;
  min-width: 990px;

  & + .wrapper {
    padding-top: 70px;
  }

  &__logo {
    .logo {
      width: 168px;
      height: 33px;
      background: url("/images/common/logo-top.png") no-repeat center
        transparent;
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    text-align: center;
    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }

      > a {
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #bcbdc1;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          opacity: 0.7;
        }

        &.active {
          color: $red-color;
          position: relative;
          &:hover {
            opacity: 1;
          }
          &:after {
            content: "";
            width: 100%;
            height: 3px;
            background-color: $red-color;

            position: absolute;
            left: 0;
            bottom: -14px;
          }
        }
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;

    .time {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #666666;
      margin-right: 20px;
    }

    ul.menu {
      list-style: none;
      padding: 0;
      margin: 0 12px 0 0;
      height: 20px;

      li {
        display: inline-block;
        padding: 0 12px;
        cursor: pointer;
        height: 100%;
        position: relative;

        &:nth-child(2) {
          border-left: 1px solid rgba(194, 194, 194, 0.3);
          border-right: 1px solid rgba(194, 194, 194, 0.3);
        }

        .sub-info {
          position: absolute;
          min-width: 200px;
          padding: 10px;
          top: 40px;
          left: 50%;
          transform: translateX(-80%);
          z-index: 3;

          font-size: 12px;
          cursor: default;

          background-color: #1f222e;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset;

          &:before,
          &:after {
            bottom: calc(100% - 1px);
            left: 80%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }

          &:before {
            border-color: rgba(194, 225, 245, 0);
            border-bottom-color: rgba(0, 0, 0, 0.3);
            border-width: 17px;
            margin-left: -17px;
          }

          &:after {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #1f222e;
            border-width: 15px;
            margin-left: -15px;
          }

          p {
            margin: 5px 0 15px;
          }

          button {
            width: 100%;
          }
        }
      }
    }

    .dropdown {
      height: 24px;
      button {
        background-color: transparent;
        border: 1px solid #4f525b;
        color: #888888;
      }

      &-list {
        border: 1px solid #4f525b;
        border-top: 0;

        li {
          border-bottom: 1px solid #4f525b;
          color: #888888;
          background-color: #1f222e;

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}
