@import '../../colors.scss';

.login {
  height: 1080px;
  background: url('/images/login/bg_login.png') no-repeat center transparent;
  background-size: cover;

  text-align: center;
  padding: 272px 0 283px;

  position: relative;
  z-index: 1;

  &:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    mix-blend-mode: color;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .login__logo {
    width: 262px;
    height: 207px;
    margin: 0 auto 38px;
    background: url('/images/login/logo-login.png') no-repeat center transparent;
    background-size: cover;
  }

  .login__form {
    width: 400px;
    margin: 0 auto;

    &>* {
      width: 100%;
      height: 60px;
      margin-bottom: 10px;
      border: none;
    }

    input.form-control {
      background-color: rgba(255, 255, 255, 0.1);
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      padding-left: 19px;
      padding-right: 19px;
      // color: #888888;
    }

    button.btn-login {
      font-size: 18px;
      font-weight: normal;
      @include btn--darkred;
      box-sizing: border-box;
    }
  }
}
