@import '../../../colors.scss';

#setThresholdFieldPopup {
  width: 556px;

  .wrapper.popup__body {
    h4 {
      font-size: 15px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $white-color;
      margin-top: 0;

      span {
        font-size: 12px;
        font-weight: 300;
        margin-left: 10px;
      }
    }

    .field-wrapper {
      padding: 15px 20px 0;
      border: solid 1px #1b1e29;
      margin-bottom: 20px;
      max-height: 229px;
      overflow-y: auto;

      &:last-child {
        margin-bottom: 0;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;

        li {
          width: 25%;
          float: left;
          margin-bottom: 20px;
        }
      }
    }
  }
}

#ThrsldFieldPopup {
  min-width: 1300px;

  .popup__body {
    .flex-box {
      .filter-table{
        min-width: 500px;
      }
    }
  }


  .btns {
    display: flex;
    flex-direction: column;

    height: 465px;
    align-self: flex-end;

    & > * {
      margin: 0 10px;

      width: 30px;
      height: 150px;
      background-image: url('/images/common/ic-left-arrow-right.png');
      background-size: auto;

      &:last-child {
        margin-top: auto;
      }
    }
  }
}
