@import '../../colors.scss';

.wrapper.role {

  .component-list {
    width: 620px;
    margin-right: 20px;

    .component__title {
      margin-bottom: 20px;

      .btn:not(.btn-rollback) {
        min-width: 60px;
        padding: 0 10px;
      }
    }

    .table-wrapper {
      // height: 852px;
      overflow-y: auto;
    }
  }

  .component-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 970px;
    height: calc(100vh - 110px);
    
    .component__title {
      margin-bottom: 20px;

      .btn:not(.btn-rollback) {
        min-width: 60px;
        padding: 0 10px;
      }
    }

    &__contents {
      flex: 1;
      ul.component-tab {
        background-color: transparent;

        & + .component {
          height: calc(100% - 40px);

          .table-wrapper {
            // height: 730px;
            overflow-y: auto;
          }
        }
      }
    }
  }

  .component-content {
    height: calc(100% - 40px);
    padding: 20px;
    box-shadow: 0 0 0 1px $border-dark-color inset;

    .component__title {
      margin-bottom: 20px;
    }

    .option-box {
      box-shadow: 0 0 0 1px $border-dark-color inset;
      padding: 20px;
      margin-bottom: 20px;

      &__list {
        height: calc(100% - 48px);
        overflow-y: auto;
      }

      &:last-child {
        margin-bottom: 0;
      }

      & > * {
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
      }

      .option__title {
        display: flex;
        font-weight: 500;

        span {
          font-size: 20px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
        }

        .btns {
          margin-left: auto;
        }
      }

      .option-path {
        margin: 20px 0;
      }

      .option-log {
        .radio {
          display: inline-block;
          vertical-align: middle;

          &:last-child {
            margin-left: 27px;
          }
        }
      }

      .option-desc {
        p {
          margin: 20px 0 10px;
          font-size: 12px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
        }
      }

      input.form-control {
        max-width: 280px;
      }
      textarea.form-control {
        max-width: 1039px;
        height: 85px;
      }

      .option-node {
        margin-bottom: 10px;
      }
    }
  }
}
