@import "./colors.scss";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  font-family: "Noto Sans KR", "Sans-serif", Helvetica, Arial, Verdana, Tahoma,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  width: 1920px;
  max-width: 1920px;
}

body {
  background-color: #282a35;
  color: $white-color;

  width: 1920px;
  max-width: 1920px;

  padding: 0;
  margin: 0;
}

.wrapper {
  padding: 20px;
  display: flex;
}

// font color
.font--red {
  color: $red-color;
}

// button
button.btn {
  background-color: $dropdown-bg;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $white-color;
  padding: 0 10px 0 10px;
  height: 28px;
  border: 1px solid $border-dark-color;
  cursor: pointer;
  box-sizing: border-box;

  vertical-align: middle;
  outline: 0;

  &:hover {
    background-color: #424554;
  }

  &:active {
    border-color: #93bde9;
  }

  &:disabled {
    background-color: #2f333e;
    color: rgba(136, 136, 136, 0.5);
    box-shadow: none;
    cursor: not-allowed;
    border-color: #1b1e29;
  }

  &.btn--white {
    @include btn--white;
  }

  &.btn--skyblue {
    @include btn--skyblue;
  }

  &.btn--blue {
    @include btn--blue;
  }

  &.btn--red {
    @include btn--red;
  }

  &.btn-icon {
    width: 28px;
    height: 28px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    img {
      width: 20px;
      vertical-align: middle;
    }

    & > *:before {
      font-size: 14px;
      color: #93959b;
    }

    &.small {
      width: 24px;
      height: 24px;
    }
  }

  &.btn--close {
    width: 24px;
    height: 24px;
    padding: 0;
    background-image: url("/images/common/ic-close.png");
    border: 0;
  }

  &.btn--skyblue-close {
    width: 24px;
    height: 24px;
    padding: 0;
    background-image: url("/images/common/ic-skyblue-close.png");
    border: 0;
  }

  &.btn--dark-close {
    width: 24px;
    height: 24px;
    padding: 0;
    background-image: url("/images/common/ic-dark-close.png");
    border: 0;
  }

  &.btn--search {
    width: 20px;
    height: 20px;
    background-image: url("/images/common/ic_search.png");
    border: 0;
    background-color: transparent;
  }

  &.btn--and {
    width: 24px;
    height: 24px;
    background-image: url("/images/filter/icon_and.png");
    border: none;
    background-color: transparent;
  }

  &.btn--or {
    width: 24px;
    height: 24px;
    background-image: url("/images/filter/icon_or.png");
    border: none;
    background-color: transparent;
  }

  &.btn--not {
    width: 24px;
    height: 24px;
    background-image: url("/images/filter/icon_not.png");
    border: none;
    background-color: transparent;
  }

  &.btn--file {
    background-color: transparent;
    border: none;
    background-image: url("/images/common/icon-file.png");
    display: inline-block;

    width: 24px;
    height: 24px;
    background-size: cover;
    margin-left: 6px;
    cursor: pointer;
  }
}

span.icon {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 15px;
  height: 15px;
  background-color: #282a36;
  border: 1px solid #1b1e29;
  font-size: 10px;
  text-align: center;

  &.icon-AND {
    color: #39c64b;
  }

  &.icon-OR {
    color: #f1bf4d;
  }

  &.icon-NOT {
    color: #d7062f;
  }
}

.btns {
  button.btn {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.form-control {
  height: 28px;
  background-color: #383b48;
  border: 1px solid $border-dark-color;
  outline: 0;
  width: 100%;
  color: $white-color;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 300;
  vertical-align: middle;

  &:focus {
    border-color: #93bde9;
  }

  &:disabled,
  &:read-only {
    border-color: #1b1e29;
    color: rgba(136, 136, 136, 0.5);

    &:focus {
      border-color: #1b1e29;
    }
  }
}

textarea.form-control {
  resize: none;
  padding: 5px 0;
  font-weight: 300;
}

.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;

  th {
    &:first-child {
      border-left: 0 !important;
    }

    &:last-child {
      border-right: 0 !important;
    }
  }

  th,
  td {
    vertical-align: middle;
    word-break: break-word;
  }

  &.table--dark {
    th,
    td {
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $white-color;
      height: 30px;
    }

    th {
      border: 1px solid $table-dark-border;
      background-color: $th-bg;
    }

    td {
      border-bottom: 1px solid $table-dark-border;
    }

    tr:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  // table light theme
  &.table--light {
    th,
    td {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $black-color;
      height: 30px;
      vertical-align: middle;
    }

    th {
      border: 1px solid #dadada;
      background-color: #f7f7f7;
    }

    td {
      border-bottom: 1px solid #dadada;
    }
  }

  &.table--info {
    th,
    td {
      padding: 4px 10px;
      text-align: left;
      height: 32px;

      border-top: 1px solid $table-dark-border;
      border-right: 0;

      input.form-control[type="text"],
      .dropdown,
      .dropdown-list li {
        height: 24px;
      }

      .dropdown {
        line-height: 1;
      }
    }
  }

  &.table--small {
    td {
      padding: 4px 0;
      min-height: 28px;
    }
  }
}

.component {
  background-color: $component-bg;
  box-shadow: 0 0 0 1px $border-dark-color inset;
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 110px);

  &__title {
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $white-color;
    display: flex;
    align-items: center;

    .btns {
      margin-left: auto;
    }
  }
}

.component-tree {
  padding: 23px 21px 0 19px;
  width: 252px;
  height: 880px;
  max-height: 880;
  margin-right: 20px;
  flex: none;

  position: relative;
  display: flex;
  flex-direction: column;
  overflow: visible;

  &.hide {
    width: 40px;
    margin-right: 20px;
    padding: 100px 0 10px;
    text-align: center;

    .btn--tree-toggle {
      top: 1px;
      right: 50%;
      transform: translateX(50%);
      background-image: url("/images/common/ic-left-arrow-right.png");
      border: none;
    }

    .component__title {
      writing-mode: tb-rl;
      letter-spacing: 5px;
      border: none;
    }

    .component__box {
      display: none;
    }
  }

  .btn--tree-toggle {
    width: 25px;
    height: 80px;
    padding: 0;
    border: solid 1px #1b1e29;

    position: absolute;
    right: -24px;
    top: 0;
    border-left: 0;
    z-index: 1;
    background-color: $component-bg;
    background-repeat: no-repeat;
    background-image: url("/images/common/ic-left-arrow-left.png");
    background-position: center center;
  }

  .component__title {
    padding-bottom: 12px;
    border-bottom: 1px solid #484b54;
  }

  .component__box {
    flex: 1;
    overflow-y: auto;
  }

  ul {
    list-style: none;
    margin: 15px 0 0;
    padding-left: 17px;
    position: relative;
    z-index: 1;

    li {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $white-color;

      div {
        padding: 5px 0 6px;
        cursor: pointer;

        &.has-child {
          font-weight: 500;
        }

        &:hover,
        &.active {
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 29px;
            margin-top: -4px;
            left: 0;
            z-index: -1;
            background-color: #232431;
          }
        }
      }

      ul {
        margin-top: 0;
        position: unset;
      }
    }
  }
}

// popup
.popup {
  min-width: 480px;
  width: 30%;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  box-shadow: 0 0 0 1px $black-color inset;
  z-index: 11;

  &--alert {
    width: 400px;

    .popup__body {
      padding: 20px;
      font-size: 12px;
      font-weight: 300;
      text-align: center;
    }
  }

  &--move {
    .popup__header {
      cursor: move;
    }
  }

  &--dark {
    border: solid 1px #000000;

    .popup__header {
      background-color: #1f222e;

      h5 {
        color: $white-color;
      }
    }

    .popup__footer {
      background-color: #1f222e;
    }

    .popup__body {
      padding: 20px;
      background-color: $component-bg;

      .radio {
        label {
          input:checked + .icon {
            background-image: url("/images/common/radio_on_dark.png");
          }

          input:disabled + .icon {
            background-image: url("/images/common/radio_dis_dark.png");
          }

          input:checked:disabled + .icon {
            background-image: url("/images/common/radio_on_dis_dark.png");
          }

          .icon {
            background-image: url("/images/common/radio_off_dark.png");
          }

          span {
            color: $white-color;
            font-weight: 300;
          }
        }
      }

      .form-control {
        border-color: $border-dark-color;
        color: $white-color;
        background-color: $btn-bg;

        &:focus {
          border-color: #93bde9;
        }

        &:disabled,
        &:read-only {
          border-color: #1b1e29;
          color: rgba(136, 136, 136, 0.5);

          &:focus {
            border-color: #1b1e29;
          }
        }
      }

      .dropdown-toggle {
        border-color: $border-dark-color;
        color: $white-color;
        background-color: $btn-bg;
      }

      .dropdown-list {
        border-color: $border-dark-color;

        li {
          color: $white-color;
          background-color: $btn-bg;
          border-color: $border-dark-color;

          &:hover {
            background-color: #2e323d;
          }
        }
      }
    }
  }

  &__header {
    background-color: #cbced6;
    padding: 13px 19px 15px;
    position: relative;

    // cursor: move;
    h5 {
      margin: 0;
      font-size: 15px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $black-color;
    }

    button.btn-close {
      width: 24px;
      height: 24px;
      background: url("/images/common/ic-close.png") no-repeat center
        transparent;
      background-size: cover;
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      border: 0;
      padding: 0;
      box-shadow: none;
    }
  }

  &__body {
    padding: 20px;
    color: $black-color;
    background-color: $white-color;

    & > * {
      margin-bottom: 15px;
      font-size: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .change-reason {
      margin-top: 15px;

      label {
        text-align: left;
        display: block;
        font-weight: 400;
        margin-bottom: 10px;
      }

      textarea.form-control,
      textarea {
        width: 100%;
        min-height: 80px;
      }
    }

    .form-control,
    input[type="text"],
    input[type="password"],
    textarea {
      background-color: transparent;
      border: 1px solid #dadada;
      color: $black-color;
      font-size: 12px;
      font-weight: 300;
      padding: 0 10px;
      outline: 0;

      &:focus {
        border-color: #2e6fd0;
      }

      &:disabled,
      &:read-only {
        background-color: #f7f7f7;
        border: none;
        color: rgba(34, 34, 34, 0.5);

        &:focus {
          border: none;
        }
      }
    }

    input[type="text"],
    input[type="password"] {
      min-height: 28px;
    }

    textarea {
      padding: 4px 10px;
    }

    .calendar {
      button.fake__dropdown {
        background-color: $white-color;
        color: $black-color;
        border: 1px solid #dadada;
      }
    }

    .dropdown {
      button {
        background-color: $white-color;
        color: $black-color;
        border: 1px solid #dadada;
      }

      &-list {
        border-color: #dadada;

        li {
          background-color: $white-color;
          color: $black-color;
          border-bottom-color: #dadada;
        }
      }
    }

    .table--info {
      tbody > tr > * {
        border-top: 0;
        font-size: 12px;
        font-weight: 300;
        padding: 5px 0;
      }

      tbody th {
        width: 30%;
        font-weight: 300;
        // padding-left: 0;
      }

      tbody td {
        overflow: visible;
      }

      tbody td input.form-control[type="text"],
      tbody td input[type="text"] {
        height: 28px;
        outline: 0;
        font-size: 12px;
        font-weight: 300;
        padding: 0 10px;
      }

      tbody td .dropdown {
        height: 28px;
        z-index: auto;
      }
    }

    .radio {
      label {
        input:checked + .icon {
          background-image: url("/images/common/ic-modal-radio-on.png");
        }

        input:disabled + .icon {
          background-image: url("/images/common/ic-modal-radio-disabled.png");
        }

        &:checked:disabled + .icon {
          background-image: url("/images/common/radio_on_dis.png");
        }

        .icon {
          background-image: url("/images/common/ic-modal-radio-off.png");
        }
      }
    }
  }

  &__footer {
    background-color: #f5f5f5;
    text-align: right;
    padding: 10px;

    button {
      min-width: 100px;
      height: 40px;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black-color;
  opacity: 0.5;
  z-index: 10;
}

.innerDim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black-color;
  opacity: 0.5;
  z-index: 12;
}

.status {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;

  &--green {
    background-color: $status-green;
  }

  &--yellow {
    background-color: $status-yellow;
  }
}

// Node: list 0 1 2 3 4 5 ...
.option-node {
  display: flex;
  align-items: center;

  ul {
    list-style: none;
    margin: 0 15px;
    padding: 0;

    li {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      font-size: 14px;
      font-weight: normal;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      &.active,
      &:hover {
        color: $skyblue-color;
      }
    }
  }
}

.checkbox {
  font-size: 0;

  input {
    &:checked + .icon {
      background-image: url("/images/common/check_on_dark.png");
    }

    &:disabled + .icon {
      background-image: url("/images/common/check_dis_dark.png");
    }

    &:checked:disabled + .icon {
      background-image: url("/images/common/check_on_dis_dark.png");
    }
  }

  .icon {
    background-image: url("/images/common/check_off_dark.png");
  }

  &.checkbox--dark {
    label {
      input {
        &:checked + .icon {
          background-image: url("/images/common/check_on_dark.png");
        }

        &:disabled + .icon {
          background-image: url("/images/common/check_dis_dark.png");
        }

        &:checked:disabled + .icon {
          background-image: url("/images/common/check_on_dis_dark.png");
        }
      }

      .icon {
        background-image: url("/images/common/check_off_dark.png");
      }
    }
  }

  label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    input {
      display: none;

      &:checked + .icon {
        background-image: url("/images/common/check_on.png");
      }

      &:disabled + .icon {
        background-image: url("/images/common/check_dis.png");
      }

      &:checked:disabled + .icon {
        background-image: url("/images/common/check_on_dis.png");
      }
    }

    .icon {
      width: 14px;
      height: 14px;
      background: url("/images/common/check_off.png") no-repeat center
        transparent;
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
    }

    span {
      margin-left: 10px;
      font-size: 12px;
    }
  }
}

.radio {
  font-size: 0;

  label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    input {
      display: none;

      &:checked + .icon {
        background-image: url("/images/common/radio_on_dark.png");
      }

      &:disabled + .icon {
        background-image: url("/images/common/radio_dis_dark.png");
      }

      &:checked:disabled + .icon {
        background-image: url("/images/common/radio_on_dis_dark.png");
      }
    }

    .icon {
      width: 14px;
      height: 14px;
      background: url("/images/common/radio_off_dark.png") no-repeat center
        transparent;
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
    }

    span {
      margin-left: 10px;
      font-size: 12px;
    }
  }

  &.radio--dark {
    label {
      input {
        &:checked + .icon {
          background-image: url("/images/common/radio_on_dark.png");
        }

        &:disabled + .icon {
          background-image: url("/images/common/radio_dis_dark.png");
        }

        &:checked:disabled + .icon {
          background-image: url("/images/common/radio_on_dis_dark.png");
        }
      }

      .icon {
        background-image: url("/images/common/radio_off_dark.png");
      }
    }
  }
}

// pagination
.pagination-wrapper {
  text-align: center;
  position: relative;
  border-top: 1px solid #484b54;
  padding: 20px 10px 0;

  .total-count {
    position: absolute;
    top: 25px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }

  .pagination {
    button {
      margin-right: 4px;
      background-size: auto;

      &.btn-present {
        width: 35px;
        margin-left: 6px;
        margin-right: 5px;
      }

      &.btn-first {
        background-image: url("/images/common/ic-page-big-left.png");
      }

      &.btn-prev {
        background-image: url("/images/common/ic-page-left.png");
      }

      &.btn-next {
        background-image: url("/images/common/ic-page-right.png");
      }

      &.btn-last {
        background-image: url("/images/common/ic-page-big-right.png");
      }
    }

    span {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #888888;
      margin-right: 13px;
    }
  }
}

ul.component-tab {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #282a36;

  li {
    float: left;
    width: 240px;
    height: 40px;
    padding: 9px 32.5px 10px;

    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.4);
    border: 1px solid $border-dark-color;
    border-bottom: 0;
    background-color: #282a36;
    cursor: pointer;

    &:nth-child(2) {
      margin-left: -1px;
      margin-right: -1px;
    }

    &.active {
      color: $white-color;
      background-color: #2f323c;
      position: relative;

      &:before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #b5b6ba;

        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.filter-tree__wrap {
  flex: 1;
  overflow-y: auto;

  ul:not(.dropdown-list) {
    list-style: none;
    margin: 0;
    padding-left: 17px;
    position: relative;
    z-index: 1;

    li {
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $white-color;

      div.chilld {
        position: relative;
        z-index: 5;
      }

      &:last-child {
        div.has-child,
        div.child {
          &.child span.icon {
            background-image: url("/images/common/dark_tree_list.png");
          }
        }
      }

      div.has-child,
      div.child {
        padding: 5px 0 6px;
        cursor: pointer;

        &.child span.icon {
          background-image: url("/images/common/dark_tree_list_ing.png");
        }

        span.icon {
          width: 12px;
          height: 12px;
          margin-right: 5px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          display: inline-block;
          vertical-align: middle;
          margin-top: -3px;
          background-image: url("/images/common/ic-dropdown-arrow-up.png");
        }

        &:hover {
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 34px;
            margin-top: -4px;
            left: 0;
            z-index: -1;
            background-color: #232431;
          }
        }

        &.active {
          span.icon {
            background-image: url("/images/common/ic-dropdown-arrow-down.png");
          }
        }
      }

      ul:not(.dropdown-list) {
        margin-top: 0;
        position: unset;
      }
    }
  }
}

// filed badge
.field {
  line-height: 1;
  display: flex;
  align-items: center;

  &__badge {
    background-color: $btn-bg;
    outline: 0;
    border: 0;
    //box-shadow: none;
    margin-right: 5px;

    width: 24px;
    height: 24px;
    padding: 0;

    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;

    box-shadow: 0 0 0 1px $border-dark-color inset;
  }

  &__title {
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $white-color;

    max-width: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__close {
    margin-left: 5px;
  }
}

.react-calendar {
  width: 275px;
  padding: 15px 15px 25px;
  border: 1px solid #dadada;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .react-calendar__navigation {
    display: block !important;
    padding: 10px 0;
    height: auto;
    text-align: center;
    margin-bottom: 20px;

    button {
      font-size: 16px;
      min-width: auto;
      font-weight: bold;
      line-height: 1;
      padding: 0;
      vertical-align: middle;
    }

    .btn-icon {
      background-color: transparent;
      background-size: cover;
      background-position: center;
      width: 20px;
      height: 20px;
      padding: 0;
      border: 0;

      &.btn-prev {
        background-image: url("/images/common/ic_arrow_left.png");
      }

      &.btn-next {
        background-image: url("/images/common/ic_arrow_right.png");
      }
    }

    .react-calendar__navigation__label {
      margin: 0 15px;
    }

    .react-calendar__navigation__prev2-button,
    .react-calendar__navigation__next2-button {
      display: none;
    }
  }

  .react-calendar__month-view__weekdays {
    color: #000000;

    &__weekday:first-child,
    &__weekday:last-child {
      color: $red-color;
    }

    abbr {
      text-decoration: none;
    }
  }
}

.react-contexify {
  z-index: 2;
  box-shadow: 0 0 0 1px #1b1e29 inset;
  background-color: #383b48;
  min-width: auto;
  padding: 14px 15px;

  &.table-context {
    width: 300px;
    padding: 0;

    table {
      tr:last-child {
        td {
          border-bottom: 0;
        }
      }

      th {
        width: 36px;
        background-color: $border-dark-color;

        background-repeat: no-repeat;
        background-position: top 6px center;
        background-size: 24px;

        &.filter {
          background-image: url("/images/filter/icon-filter.png");
        }

        &.search {
          background-position: top 8px center;
          background-size: 20px;
          background-image: url("/images/common/ic_search.png");
        }

        &.paste {
          background-image: url("/images/common/ic_paste.png");
        }

        &.help {
          background-image: url("/images/common/ic_help.png");
        }
      }

      td {
        padding: 10px;
        border-bottom: 1px solid $border-dark-color;

        p {
          margin: 0 0 10px;

          &:hover {
            color: $skyblue-color;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .react-contexify__item {
      &:not(.react-contexify__item--disabled):hover {
        & > .react-contexify__item__content {
          color: $white-color;
          background-color: transparent;
        }
      }
    }
  }

  &__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &__content {
      background-color: transparent;
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $white-color;
      padding: 0;
    }

    &:not(.react-contexify__item--disabled):hover {
      & > .react-contexify__item__content {
        color: $skyblue-color;
        background-color: transparent;
      }
    }
  }
}

// .rc-tree
.rc-tree.rc-tree-show-line li:not(:last-child) > ul {
  background: none;
}

.rc-tree {
  position: relative;
  padding-left: 10px;
  display: inline-block;
  min-width: 100%;

  li .rc-tree-node-content-wrapper {
    height: 100%;
    // display: inline-flex;
    // align-items: center;
    padding: 0;
    color: $white-color;
    vertical-align: baseline;

    &:before {
      content: "";
      position: absolute;
      top: auto;
      left: 0;
      width: 100%;
      height: 32px;
      z-index: 0;
    }

    &:hover {
      color: #ffffff;
    }

    &:hover:before {
      background-color: rgba(32, 33, 46, 0.5);
    }

    &.rc-tree-node-selected {
      background-color: transparent;
      color: $white-color;
      border: none;
      opacity: 1;

      &:before {
        background-color: rgba(32, 33, 46, 0.8);
        border-left: 3px solid $blue-color;
      }

      &:hover:before {
        background-color: rgba(32, 33, 46, 0.8);
      }
    }
  }

  li span.rc-tree-iconEle {
    position: relative;
    z-index: 1;
    margin-right: 5px;

    &.rc-tree-icon__docu {
      background-image: url("/images/common/dark_tree_leaf.png");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  li span.rc-tree-checkbox {
    position: relative;
    z-index: 1;
  }

  li span.rc-tree-switcher {
    // margin-top: -10px;
    margin-right: 5px;
    // margin-top: 5px;
    position: relative;
    z-index: 1;

    &.rc-tree-switcher_open {
      background-image: url("/images/common/ic-left-arrow-down.png");
      background-position: center;
      background-repeat: no-repeat;
    }

    &.rc-tree-switcher_close {
      background-image: url("/images/common/ic-left-arrow-right.png");
      background-position: center;
      background-repeat: no-repeat;
    }

    &.rc-tree-switcher-noop {
      background-image: url("/images/common/dark_tree_list.png");
      background-position: center !important;
      background-repeat: no-repeat;
    }
  }

  .rc-tree-title {
    font-size: 12px;
    line-height: 32px;
    position: relative;
    z-index: 1;
  }
}

.rc-tree-icon_loading {
  vertical-align: middle !important;
}

// react-datepicker
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  border-bottom-color: #f0f0f0;

  &:before {
    border-bottom-color: #aeaeae;
  }
}

.react-datepicker {
  background-color: #fff;
  border-color: #aeaeae;

  .react-datepicker__header__dropdown.react-datepicker__header__dropdown--select {
    margin: 10px 0;
  }

  select {
    background-image: url(/images/common/ic-top-arrow-down.png) !important;
    background-repeat: no-repeat !important;
    background-position: center right 4px !important;
    border-radius: 0;
    font-size: 12px;
    height: 24px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 0 0 0 5px;
    min-width: 55px;
  }

  &__day {
    // font-size: 16px !important;
    border-radius: 0 !important;
  }

  &__day:hover {
    background-color: #93bde9 !important;
  }

  &__day--selected {
    background-color: transparent !important;
    color: #2e6fd0 !important;
    font-weight: 500;
  }

  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item:hover {
    background-color: #93bde9 !important;
  }

  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item--selected {
    background-color: transparent !important;
    color: #2e6fd0 !important;
    font-weight: 500;
  }

  .react-datepicker__header {
    background-color: #f0f0f0;
    border-color: #aeaeae;

    .react-datepicker__current-month,
    .react-datepicker-time__header {
      color: #000;
    }

    .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
      color: #000;
    }
  }

  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    color: #000;
  }
}

.react-datepicker-wrapper {
  position: relative;
  line-height: 1;
  max-width: 105px;

  &:after {
    // content: "\f073";
    // font-family: "Font Awesome 5 Free";
    content: "";
    width: 20px;
    height: 20px;
    background: url("/images/common/icon_cal.png") no-repeat center transparent;
    background-size: contain;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
  }
}

.react-datepicker-popper {
  z-index: 3;
  min-width: 90px;

  .react-datepicker {
    width: 100%;

    .react-datepicker__time-container {
      width: 100%;

      .react-datepicker__time .react-datepicker__time-box {
        width: 100%;
      }
    }
  }

  .react-datepicker__navigation {
    outline: 0;
  }
}

.table-wrapper {
  position: relative;

  .table-total-count {
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 28px;
    font-size: 12px;
    font-weight: 300;
    margin-right: 5px;
  }
}

span.link-style {
  cursor: pointer;

  &:hover {
    color: #93bde9;
  }
}

// react-ace
.ace_editor,
.ace_editor * {
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro",
    monospace;
  font-size: 12px;
  color: inherit;
}

// contextmenu
.tree-contextmenu {
  z-index: 1;
  border: solid 1px #1b1e29;
  background-color: #383b48;
  list-style: none;
  padding: 8.5px 0;
  margin: 0;
  min-width: 131px;

  li {
    padding: 5.5px 15px;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    cursor: pointer;

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
      color: rgba(136, 136, 136, 0.5);

      &:hover {
        color: rgba(136, 136, 136, 0.5);
      }
    }

    &.binder {
      width: 100%;
      height: 1px;
      background-color: rgba(136, 136, 136, 0.5);
      padding: 0;
      margin: 5.5px 0;
    }

    &:hover {
      color: #93bde9;
    }
  }
}

/***************
 * antd style
 ***************/
// ant-select-dropdown style
.ant-select-dropdown {
  background-color: $dropdown-bg;
  border: 1px solid $border-dark-color;
  border-radius: 0;

  .ant-select-dropdown-menu-item {
    color: #fff;

    &:hover {
      background-color: #2e323d;
    }

    &-selected {
      color: #93bde9;
      background-color: transparent;
      font-weight: normal;
    }
  }

  &-menu-item-active {
    background-color: $dropdown-bg;
    border-radius: 0;

    &:not(.ant-select-dropdown-menu-item-disabled) {
      background-color: transparent;
    }
  }

  // no data
  .ant-empty-small {
    color: #fff;
  }
}

.ant-select-open,
.ant-select-focused {
  .ant-select-selection {
    box-shadow: none;
    border: none;
    // border: solid 1px #1b1e29;
    // border-color: #93bde9;
    // &:hover {
    //   border-color: #93bde9;
    // }
  }
}

.ant-select-selection {
  background-color: transparent;
  // border: 1px solid $border-dark-color;
  border: none;
  border-radius: 0;
  outline: 0;
  transition: none;

  &:hover {
    // border-color: $border-dark-color;
    box-shadow: none;
    border: none;
  }

  &:active,
  &:focus,
  &:focus:hover {
    // border-color: #93bde9;
    box-shadow: none;
    border: none;
  }

  &--multiple {
    ul > li,
    .ant-select-selection__rendered > ul > li {
      background-color: transparent;
      color: #fff;
      border: none;

      &.ant-select-selection__choice {
        border: solid 1px #1b1e29;
      }

      span.ant-select-selection__choice__remove {
        font-size: 0;
        width: 20px;
        height: 20px;
        background-image: url("/images/common/ic-close.png");
        background-size: cover;
        top: 50%;
        right: 0;
        transform: translateY(-50%) scale(1);
        margin-left: 5px;
      }
    }
  }

  &--single {
    .ant-select-selection__rendered {
      background-color: transparent;
      color: #fff;
      border: none;

      &.ant-select-selection__choice {
        border: solid 1px #1b1e29;
      }

      span.ant-select-selection__choice__remove {
        font-size: 0;
        width: 20px;
        height: 20px;
        background-image: url("/images/common/ic-close.png");
        background-size: cover;
        top: 50%;
        right: 0;
        transform: translateY(-50%) scale(1);
        margin-left: 5px;
      }
    }
  }
}

.ant-select-disabled {
  background-color: transparent;

  .ant-select-selection {
    background-color: transparent;

    &--multiple {
      ul > li,
      .ant-select-selection__rendered > ul > li {
        background-color: transparent;
        color: #fff;
        border: none;

        &.ant-select-selection__choice {
          border: solid 1px #1b1e29;
        }
      }
    }

    &--single {
      .ant-select-selection__rendered {
        background-color: transparent;
        color: #fff;
        border: none;

        &.ant-select-selection__choice {
          border: solid 1px #1b1e29;
        }
      }
    }
  }
}

/***************
 * ace editor style
 ***************/
.ace_tooltip {
  background-color: #000;
  background-image: -webkit-linear-gradient(
    top,
    transparent,
    rgba(0, 0, 0, 0.1)
  );
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));
  border: 1px solid gray;
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(94, 75, 75, 0.3);
  color: white;
  max-width: 100%;
  padding: 3px 4px;
  position: fixed;
  z-index: 999999;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
  white-space: pre;
  word-wrap: break-word;
  line-height: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  pointer-events: none;
}

// json background
.ace-monokai {
  background-color: #2b2d37 !important;

  .ace_gutter {
    background-color: #2f323c !important;

    &-active-line {
      background-color: #1f222e !important;
    }
  }

  .ace_marker-layer .ace_active-line,
  .ace_marker-layer .ace_selection {
    background-color: #1f222e !important;
  }

  .ace_gutter-cell.ace_error {
    background-image: url("/images/common/ic-skyblue-close.png");
    background-size: 12px;
  }
}

// scrollbar
.scrollarea .scrollbar-container {
  opacity: 0;

  &.vertical .scrollbar {
    border-radius: 5px;
  }

  &.horizontal .scrollbar {
    border-radius: 5px;
  }
}
