$dark-red-color: #f61842;
$red-color: #ea002c;
$white-color: #ffffff;
$blue-color: #2e6fd0;
$skyblue-color: #93bde9;
$black-color: #000000;

$status-green: #39ca4b;
$status-yellow: #ffc94d;

$border-dark-color: #1b1e29;
$table-dark-border: #484b54;

$component-bg: #2f323c;
$btn-bg: #383b48;
$th-bg: #2b2d37;

$dropdown-bg: #393b47;

// white type button
@mixin btn--white {
  color: $black-color;
  background-color: $white-color;
  border: 1px solid #dadada;

  &:hover {
    border: 1px solid #bbbbbb;
  }

  &:active {
    border: 1px solid $blue-color;
  }

  &:disabled {
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid transparent;
    cursor: not-allowed;
  }
}

// sky blue type button
@mixin btn--skyblue {
  color: $black-color;
  background-color: rgba(147, 189, 233, 0.8);
  // border: 1px solid transparent;
  border: none;

  &:hover {
    background-color: rgba(147, 189, 233, 0.5);
  }

  &:active {
    background-color: rgba(147, 189, 233, 0.5);
    border: 1px solid $blue-color;
  }

  &:disabled {
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.3);
    cursor: not-allowed;
    border: none;
  }
}

// blue type button
@mixin btn--blue {
  color: $white-color;
  background-color: $blue-color;
  border: none;

  &:hover {
    background-color: rgba(46, 111, 208, 0.8);
  }

  &:active {
    background-color: #23549e;
  }

  &:disabled {
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.3);
    cursor: not-allowed;
    border: none;
  }
}

// red type button
@mixin btn--red {
  color: $white-color;
  background-color: $red-color;
  border: none;

  &:hover {
    background-color: rgba(234, 0, 44, 0.8);
  }

  &:active {
    background-color: #b80022;
  }

  &:disabled {
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.3);
    border: none;
    cursor: not-allowed;
  }
}

@mixin btn--darkred {
  color: $white-color;
  background-color: $dark-red-color;
  border: none;

  &:hover {
    background-color: rgba(234, 0, 44, 0.8);
  }

  &:active {
    background-color: #b80022;
  }

  &:disabled {
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.3);
    border: none;
    cursor: not-allowed;
  }
}

@mixin btn--dark {
  color: $white-color;
  background-color: #2a2f40;
  border: none;

  &:hover {
    background-color: rgba(42, 47, 64, 0.8);
  }

  &:active {
    background-color: $black-color;
  }

  &:disabled {
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.3);
    border: none;
    cursor: not-allowed;
  }
}
