select:focus {
  outline: 0
}

select:not(.react-datepicker__month-select, .react-datepicker__year-select) {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  -webkit-appearance: none;
  /* -webkit-border-radius: 0!important; */
  /* background-color: #1b1e29; */
  background-position: 100%;
  background-repeat: no-repeat;
  background-color: transparent!important;
  outline: 0;
  width: 100%;
  color: #ffffff;
  font-weight: 300;
  vertical-align: middle;
}

.react-inputs-validation__select__wrapper___1B4OH, .react-inputs-validation__select__wrapper___1B4OH :focus {
  outline: 0
}

.react-inputs-validation__select__wrapper___1B4OH {
  cursor: pointer;
  outline: none;
  position: relative
}

.react-inputs-validation__select__input___3h-P7 {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer
}

.table.table--info td .react-inputs-validation__select__container___3jgUR {
  height: 28px;
}

.table.table--info.security-event td .react-inputs-validation__select__container___3jgUR {
  height: 24px;
}

.react-inputs-validation__select__container___3jgUR {
  padding: 0 10px;
  position: relative;
  border: 1px solid #1b1e29;

  height: 28px;
  display: flex;
  align-items: center;
  background-color: #383b48;
}
.react-inputs-validation__select__container___3jgUR.react-inputs-validation__show___2NI3u {
  border-color: #93bde9;
}
.react-inputs-validation__ellipsis___3-Api {
  width: 100%;
}

.react-inputs-validation__select__container___3jgUR.react-inputs-validation__disabled___1-57g {
  background: #f8f8f8
}

.react-inputs-validation__select__options-item___30yY4 {
  background: #393b47;
  transition: background .4s, color .2s;
  /* padding: 10px; */
  padding: 5px 10px;
  cursor: none
}

.react-inputs-validation__select__options-item-show-cursor___1ZT3b {
  cursor: pointer
}

.react-inputs-validation__select__no-mouse___2uRg6 {
  cursor: none
}

.react-inputs-validation__select__hover-active___2z1MQ {
  background: #2e323d;
  color: #fff
}

.react-inputs-validation__select__options-item___30yY4.react-inputs-validation__active___3eZBB {
  /* background: #2b2d37; */
  color: #93bde9;
}

.react-inputs-validation__select__options-container-animate___2Rm-- {
  /* z-index: 2; */
  margin-top: 2%;
  position: absolute;
  background: #fff;
  /* width: 100%; */
  width: calc(100% + 2px);
  opacity: 0;
  left: 50%;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: opacity .2s, -webkit-transform .4s;
  transition: transform .4s, opacity .2s;
  transition: transform .4s, opacity .2s, -webkit-transform .4s;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .08), 0 0 1px 0 rgba(0, 0, 0, .12);
  z-index: -1;
  -webkit-transform: translate(-50%) scaleY(0);
  transform: translate(-50%) scaleY(0)
}

.react-inputs-validation__select__options-container-animate___2Rm--.react-inputs-validation__show___2NI3u {
  -webkit-transform: translate(-50%) scale(1);
  transform: translate(-50%) scale(1);
  opacity: 1;
  z-index: 3
}

.react-inputs-validation__select__options-container___d54qE {
  border: 1px solid #1b1e29;
  z-index: 2;
  /* margin-top: 0.19%; */
  position: absolute;
  /* top: 100%; */
  top: calc(100% + 2px);
  /* background: #fff; */
  width: 100%;
  left: 50%;
  display: none;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .08), 0 0 1px 0 rgba(0, 0, 0, .12);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.react-inputs-validation__select__options-container___d54qE.react-inputs-validation__show___2NI3u {
  display: block;
  z-index:3;
}

.react-inputs-validation__select__dropdown___11yDr {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.react-inputs-validation__select__dropdown-icon___1T5r2 {
  display: inline-block;
  width: 11px;
  height: 6px;
  background: url(/images/common/ic-top-arrow-down.png) no-repeat center transparent;
  background-size: contain;
}

.react-inputs-validation__select__dropdown-name___3hghL {
  width: 98%;
  display: inline-block;
}

/* .react-inputs-validation__select__dropdown-icon___1T5r2:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 0;
  border-color: #1f222e transparent;
  border-style: solid;
  border-width: 8px 8px 0
} */

.react-inputs-validation__select__dropdown-icon-container___2ild- {
  position: relative
}


/** for white background */
div.popup .react-inputs-validation__select__dropdown-name___3hghL {
  margin-top: 3px;
}

div.popup .react-inputs-validation__select__options-item___30yY4.react-inputs-validation__active___3eZBB {
  /* background: #dadada;
  color: black; */
  color: #2e6fd0;
}

div.popup .react-inputs-validation__select__dropdown-icon___1T5r2:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 0;
  /* border-color: #cbced6 transparent;
  border-style: solid;
  border-width: 8px 8px 0 */
}

div.popup .react-inputs-validation__select__container___3jgUR {
  padding: 0 10px;
  position: relative;
  border: 1px solid #dadada;
  height: 28px;
  background: #fff;
}
div.popup .react-inputs-validation__select__container___3jgUR.react-inputs-validation__show___2NI3u {
  border-color: #2e6fd0;
}

div.popup .react-inputs-validation__select__options-item___30yY4 {
  background: #fff;
  transition: background .4s, color .2s;
  padding: 5px 10px;
  /* cursor: none; */
}
div.popup .react-inputs-validation__select__options-container___d54qE {
  top: calc(100% + 1px);
}

div.popup .react-inputs-validation__select__hover-active___2z1MQ {
  background: #eff6ff;
  color: black;
}

div.popup .react-inputs-validation__select__options-container___d54qE.react-inputs-validation__show___2NI3u {
  border-color: #dadada;
}
/** text, number, password, phone */
input[type=number].react-inputs-validation__textbox__input___20hDL.react-inputs-validation__error___2aXSp,
input[type=password].react-inputs-validation__textbox__input___20hDL.react-inputs-validation__error___2aXSp,
input[type=phone].react-inputs-validation__textbox__input___20hDL.react-inputs-validation__error___2aXSp,
input[type=text].react-inputs-validation__textbox__input___20hDL.react-inputs-validation__error___2aXSp {
  border: 1px solid #ff5a57;
  color: #ff5a57
}

/** textarea */
textarea.react-inputs-validation__textarea__input___1CFm_.react-inputs-validation__error___2aXSp {
  border: 1px solid #ff5a57;
  color: #ff5a57;
}

/** error msg */
.react-inputs-validation__msg___pxv8o.react-inputs-validation__error___2aXSp {
  color: #ff5a57;
}

/** checkbox */
.react-inputs-validation__checkbox__box___1uj8A.react-inputs-validation__error___2aXSp {
  border-color: #ff5a57;
}

/** radio */
.react-inputs-validation__radiobox__item___ejuz1.react-inputs-validation__error___2aXSp .react-inputs-validation__radiobox__label___2tQsB:before {
  border-color: #ff5a57;
}

/** select */
.react-inputs-validation__select__container___3jgUR.react-inputs-validation__error___2aXSp {
  border-color: #ff5a57 !important;

}
