// base colors:
$theme-color: #70b0e0; /* #66CCFF */
$base-color: mix(#808080, $theme-color, 85);

// core colors:
$black: darken($base-color, 46%);
$darkest: mix($black, $base-color, 78%);
$darker: mix($black, $base-color, 62%);
$dark: mix($black, $base-color, 34%);

$mid: $base-color;

$white: lighten($base-color, 42%);
$lightest: mix($white, $base-color, 92%);
$lighter: mix($white, $base-color, 78%);
$light: mix($white, $base-color, 50%);

// doc colors:
$doc-black: $black;
$doc-darkest: mix($doc-black, $base-color, 80%);
$doc-darker: mix($doc-black, $base-color, 64%);
$doc-dark: mix($doc-black, $base-color, 35%);

$doc-mid: $base-color;

$doc-white: $white;
$doc-lightest: mix($doc-white, $base-color, 92%);
$doc-lighter: mix($doc-white, $base-color, 78%);
$doc-light: mix($doc-white, $base-color, 50%);

// control colors:
$title-bg: $doc-light;
$tooltip-bg: rgba($doc-black, 0.85);
$selected-stroke-color: rgba($doc-black, 0.3);
$match-color: rgba($theme-color, 0.5);

$dark-shadow: rgba(0, 0, 0, 0.25);
$light-shadow: rgba(0, 0, 0, 0.1);
$strong-shadow: rgba(0, 0, 0, 0.45);

$details-group-alpha: 0.5;

// notice colors:
$error-color: #d22;
$warning-color: $error-color;
$fail-color: $error-color;
$pass-color: #0a0;

// syntax colors:
$group-color: #0a0;
$groupbg-color: #0e0;
$alt-color: $group-color;

$set-color: #d70;
$setbg-color: #fe0;

$anchor-color: #840;
$quant-color: #58f;
$esc-color: #c0c;
$special-color: $esc-color;

// invisible char color:
// this isn't bound to the theme color, because it's used in the tab bitmap:
$invischar-color: rgba(127, 127, 127, 0.33);
