$pad: 1rem;
$control-radius: 0.125rem;
$input-height: 3.75rem;
$title-height: 2.5rem;
$transition-t: 0.2s;

$control-opacity: 0.2;
$button-opacity: 0.35;
$input-opacity: 0.05;
$button-hover-opacity: 0.75;
$disabled-opacity: 0.35;

$related-stroke-width: 1px;
$related-stroke: solid $related-stroke-width $selected-stroke-color;
$selected-stroke-width: 2px;
$selected-stroke: solid $selected-stroke-width $selected-stroke-color;

$closed-sidebar-width: 50px;
$font-size: 16px;
$font-family: 'Noto Sans KR',
'Sans-serif',
sans-serif;
$monospace: monospace;
