@import '../../../colors.scss';

#addRolePopup {
  width: 480px;

  .popup__body {
    padding: 20px;

    .role__contents {
      padding: 20px;
      box-shadow: 0 0 0 1px #dadada inset;
    }

    .form-group {
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      label {
        font-size: 12px;
        font-weight: 300;
        margin-right: 23px;

        &.required:after {
          content: " *";
          color: $red-color;
        }
      }

      .form-control {
        color: $black-color;
      }

      input.form-control {
        width: 200px;
      }

      &:nth-child(2) {
        margin-bottom: 15px;
      }

      &:last-child {
        margin-bottom: 0;
        display: block;

        label {
          display: block;
          margin-right: 0;
          margin-bottom: 10px;
        }

        textarea.form-control {
          width: 100%;
          height: 85px;
        }
      }
    }
  }
}
